body {
  overflow-y: hidden; }

article {
  margin-top: 87px;
  border-top: solid 1px #ECEFF4; }

.header .header__center {
  width: calc(100vw - 140px * 2); }
.header .header__menu {
  min-width: 140px; }

/*# sourceMappingURL=1-1.css.map */
