article {
  margin-top: 87px;
  border-top: solid 1px #ECEFF4; }

.header .header__center {
  width: calc(100vw - 80px * 2); }
.header .header__menu {
  min-width: 80px; }

.error__text {
  margin-top: 0;
  padding-left: 0;
  padding-right: 0; }

.labAreaAnother {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px; }

.labArea__wrapperAnother {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none; }
  .labArea__wrapperAnother .labArea__wrapperAnother__list {
    position: relative;
    display: flex;
    align-items: center;
    width: calc(50% - 8px);
    height: 150px;
    margin-bottom: 16px;
    padding-top: -24px;
    background-color: #d0d0d0;
    border-radius: 6px;
    color: #999999;
    transition: all 0.5s;
    transition-timing-function: ease-in; }
    .labArea__wrapperAnother .labArea__wrapperAnother__list.selected {
      background-color: white;
      color: black;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5); }
    .labArea__wrapperAnother .labArea__wrapperAnother__list.active {
      background-color: white;
      color: black;
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5); }
      .labArea__wrapperAnother .labArea__wrapperAnother__list.active .toggleSwitch {
        display: none; }
    .labArea__wrapperAnother .labArea__wrapperAnother__list .labNameWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 65px;
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
      box-sizing: border-box;
      text-align: center;
      overflow: hidden;
      line-height: 1.5; }
      .labArea__wrapperAnother .labArea__wrapperAnother__list .labNameWrapper .labNameWrapper__content {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden; }
    .labArea__wrapperAnother .labArea__wrapperAnother__list .toggleSwitch {
      position: absolute;
      bottom: 2px;
      left: 6px; }

/*# sourceMappingURL=1-3.css.map */
