article {
  margin-top: 87px;
  border-top: solid 1px #ECEFF4; }

.header .header__center {
  width: calc(100vw - 80px * 2); }
.header .header__menu {
  min-width: 80px; }

/*# sourceMappingURL=1-4.css.map */
