article {
  margin-top: 87px;
  border-top: solid 1px #ECEFF4; }

.header .header__center {
  width: calc(100vw - 80px * 2); }
.header .header__menu {
  min-width: 80px; }

.hide {
  display: none !important; }

.list .list__content .inputtext {
  padding-left: 16px;
  text-align: left; }
.list .list__content--done::before {
  background-color: white; }

#error01 {
  margin-top: 8px; }

/*# sourceMappingURL=1-5.css.map */
