article {
  margin-top: 43px;
  border-top: solid 1px #ECEFF4;
  overflow: hidden; }

.header .header__center {
  width: calc(100vw - 80px * 2); }
.header .header__menu {
  min-width: 80px; }

/*# sourceMappingURL=2-1.css.map */
