@charset "UTF-8";
/* Sass Document */
/* Filetype Web Font **********************************************************/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", Osaka, Verdana, sans-serif; }

.header .header__center {
  width: calc(100vw - 104px * 2); }
.header .header__menu {
  min-width: 104px; }

.icon-trash {
  font-size: 20px;
  vertical-align: middle;
  padding-right: 8px; }

span.icon-photo {
  font-size: 20px;
  vertical-align: middle;
  padding-right: 8px; }
  span.icon-photo::before {
    color: #007AFF; }

article {
  margin-top: 44px;
  background-color: white;
  width: 100vw;
  height: 100vh; }

.disable {
  color: silver !important; }

/*# sourceMappingURL=2-5-2.css.map */
