@charset "UTF-8";
/* Sass Document */
/* Filetype Web Font **********************************************************/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", Osaka, Verdana, sans-serif; }

body {
  padding-top: 44px; }

article {
  overflow: hidden; }
  article#tab2-contents {
    padding-top: 16px; }

.header .header__center {
  width: calc(100vw - 40px * 2); }
.header .header__menu {
  min-width: 40px; }

#tab1-contents {
  margin-top: 16px; }

input.formTab-radio[type="radio"] {
  display: none; }

#formTab1:checked ~ #blockWrap .tabsw1_select,
#formTab2:checked ~ #blockWrap .tabsw2_select {
  background-color: #007AFF;
  color: #fff; }

#recoad__wrap #general, #recoad__wrap #electro {
  display: none; }

#formTab1:checked ~ #recoad__wrap #general {
  display: flex; }

#formTab2:checked ~ #recoad__wrap #electro {
  display: flex; }

.fixed {
  position: fixed;
  top: 44px;
  left: 0;
  z-index: 20;
  width: 100%; }

.fixed2 {
  position: fixed;
  top: 88px;
  left: 0;
  z-index: 20;
  width: 100%;
  background-color: #eceff4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }
  .fixed2 .formSwitch {
    margin: 5px auto !important; }

.rootFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 50px;
  padding: 0px 40px;
  box-sizing: border-box;
  background-color: #f7f7f7; }
  .rootFooter .rootFooter__list {
    display: flex;
    justify-content: space-between; }
    .rootFooter .rootFooter__list .rootFooter__list__content {
      display: flex;
      align-items: center;
      height: 50px;
      list-style: none; }
      .rootFooter .rootFooter__list .rootFooter__list__content dl dt {
        text-align: center;
        font-size: 28px; }
        .rootFooter .rootFooter__list .rootFooter__list__content dl dt.active::before {
          color: #007AFF; }
      .rootFooter .rootFooter__list .rootFooter__list__content dl dd {
        padding-top: 4px;
        text-align: center;
        font-size: 10px;
        color: #8e8e93; }
        .rootFooter .rootFooter__list .rootFooter__list__content dl dd.active {
          color: #007AFF; }

/*# sourceMappingURL=2-5.css.map */
