@charset "UTF-8";
/* Sass Document */
/* Filetype Web Font **********************************************************/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", Osaka, Verdana, sans-serif; }

.header .header__center {
  width: calc(100vw - 21px * 2); }
.header .header__menu {
  min-width: 21px; }

article {
  margin-top: 44px; }

.list .list__content .list__content__style .list__content__style__master .closedDay {
  display: flex; }
  .list .list__content .list__content__style .list__content__style__master .closedDay dt {
    padding-right: 1em;
    width: auto;
    min-width: 5em;
    max-width: 10em;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .list .list__content .list__content__style .list__content__style__master .closedDay dd {
    margin-left: auto; }
    .list .list__content .list__content__style .list__content__style__master .closedDay dd::after {
      content: "";
      padding-left: 0; }
.list .list__content .list__content__style .list__content__style__slave {
  font-size: 1.3rem;
  margin-top: 5px; }

/*# sourceMappingURL=3-1-2.css.map */
