@charset "UTF-8";
/* Sass Document */
/* Filetype Web Font **********************************************************/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", Osaka, Verdana, sans-serif; }

body {
  padding-top: 44px; }

article {
  overflow: hidden; }
  article#tab2-contents {
    padding-top: 16px; }

.header .header__center {
  width: calc(100vw - 80px * 2); }
.header .header__menu {
  min-width: 80px; }

.clinic {
  overflow: hidden;
  padding: 16px; }
  .clinic .clinicName {
    font-weight: bold;
    font-size: 17px;
    line-height: 1.2;
    margin-bottom: 16px; }
  .clinic .clinicInfo .clinicInfo__data {
    display: flex;
    justify-content: space-between; }
    .clinic .clinicInfo .clinicInfo__data > .address {
      margin-bottom: 14px; }
    .clinic .clinicInfo .clinicInfo__data > .tel {
      width: 250px;
      text-align: right;
      color: #007AFF; }
  .clinic .clinicInfo .clinicInfo__time {
    color: #666666; }
    .clinic .clinicInfo .clinicInfo__time::before {
      content: "予定時刻："; }

.noCollectBtn {
  float: right; }

#manualCategory {
  position: relative; }
  #manualCategory::after {
    position: absolute;
    right: 0;
    z-index: -1;
    content: "\e905";
    font-family: 'icomoon' !important; }
  #manualCategory select {
    display: inline-block;
    padding-right: 25px;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* ドロップダウンスタイルを無効にする */ }

input.formTab-radio[type="radio"] {
  display: none; }

#formTab1:checked ~ #blockWrap .tabsw1_select,
#formTab2:checked ~ #blockWrap .tabsw2_select {
  background-color: #007AFF;
  color: #fff; }

#recoad__wrap #general, #recoad__wrap #electro {
  display: none; }

#formTab1:checked ~ #recoad__wrap #general {
  display: flex; }

#formTab2:checked ~ #recoad__wrap #electro {
  display: flex; }

#blockWrap {
  -webkit-transform: translate3d(0, 0, 0); }
  #blockWrap .formSwitch {
    display: flex;
    margin: 12px auto;
    width: 144px;
    height: 29px;
    border: solid 1px #007AFF;
    border-radius: 4px;
    overflow: hidden;
    transition: all 0.5s; }
    #blockWrap .formSwitch .tabsw {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      color: #007AFF;
      text-align: center;
      font-size: 13px; }

#recoad__wrap {
  position: relative;
  height: 850px; }

.tempContentWrapper .tempContentFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 42px;
  padding: 0 16px;
  box-sizing: border-box;
  background-color: #f7f7f7;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2); }
  .tempContentWrapper .tempContentFooter .tempContentFooter__list,
  .tempContentWrapper .tempContentFooter .tempContentFooter__icon {
    display: flex;
    list-style: none; }
    .tempContentWrapper .tempContentFooter .tempContentFooter__list a,
    .tempContentWrapper .tempContentFooter .tempContentFooter__icon a {
      margin-left: 20px;
      text-decoration: none; }
      .tempContentWrapper .tempContentFooter .tempContentFooter__list a .icon,
      .tempContentWrapper .tempContentFooter .tempContentFooter__icon a .icon {
        font-size: 24px; }
    .tempContentWrapper .tempContentFooter .tempContentFooter__list .notifDot,
    .tempContentWrapper .tempContentFooter .tempContentFooter__icon .notifDot {
      position: relative; }
      .tempContentWrapper .tempContentFooter .tempContentFooter__list .notifDot::after,
      .tempContentWrapper .tempContentFooter .tempContentFooter__icon .notifDot::after {
        content: "";
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #B92F1A;
        position: absolute;
        top: -6px;
        right: -5px; }
    .tempContentWrapper .tempContentFooter .tempContentFooter__list .totalValue dl,
    .tempContentWrapper .tempContentFooter .tempContentFooter__icon .totalValue dl {
      display: flex;
      align-items: center; }
      .tempContentWrapper .tempContentFooter .tempContentFooter__list .totalValue dl dt,
      .tempContentWrapper .tempContentFooter .tempContentFooter__icon .totalValue dl dt {
        color: #666666;
        font-size: 14px; }
        .tempContentWrapper .tempContentFooter .tempContentFooter__list .totalValue dl dt::after,
        .tempContentWrapper .tempContentFooter .tempContentFooter__icon .totalValue dl dt::after {
          content: "："; }
      .tempContentWrapper .tempContentFooter .tempContentFooter__list .totalValue dl dd,
      .tempContentWrapper .tempContentFooter .tempContentFooter__icon .totalValue dl dd {
        margin-right: 24px;
        font-size: 20px; }

.initialValue {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px; }
  .initialValue .inputValue {
    width: calc(100% / 3);
    margin-right: 8px;
    color: #6d6d6d; }
    .initialValue .inputValue:last-child {
      margin-right: 0; }
    .initialValue .inputValue input[type="text"] {
      display: block;
      margin-top: 8px;
      width: 100%;
      height: 42px;
      text-align: center;
      background-color: white;
      border: 0; }

.lab-name {
  display: none;
  height: 42px;
  border-top: solid 1px #c7c7c7;
  border-bottom: solid 1px #c7c7c7; }
  .lab-name input[type="text"] {
    height: 42px;
    width: 100%;
    text-align: center;
    background-color: white;
    border: 0; }

.fixed {
  position: fixed;
  top: 44px;
  left: 0;
  z-index: 20;
  width: 100%; }

.fixed2 {
  position: fixed;
  top: 88px;
  left: 0;
  z-index: 20;
  width: 100%;
  background-color: #eceff4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); }
  .fixed2 .formSwitch {
    margin: 5px auto !important; }

/*# sourceMappingURL=3-1.css.map */
