@charset "UTF-8";
/* Sass Document */
/* Filetype Web Font **********************************************************/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", Osaka, Verdana, sans-serif; }

.header .header__center {
  width: calc(100vw - 80px * 2); }
.header .header__menu {
  min-width: 80px; }

.icon-photo {
  font-size: 21px;
  margin-right: 20px;
  vertical-align: middle;
  color: #007AFF; }

article {
  margin-top: 44px;
  width: 100vw;
  height: calc(100vh - 44px);
  background-color: white; }

.commentTypeWrapper {
  position: relative;
  display: block;
  width: 100%;
  height: 44px;
  border-bottom: solid 1px #c7c7c7; }
  .commentTypeWrapper::before {
    position: absolute;
    z-index: 10;
    top: 14px;
    left: 16px;
    content: "あ"; }
  .commentTypeWrapper::after {
    position: absolute;
    z-index: 10;
    top: 14px;
    right: 16px;
    content: "\e905";
    font-family: 'icomoon' !important;
    color: #8e8e8e; }
  .commentTypeWrapper .commentTypeWrapper__select {
    width: 100%;
    height: 44px;
    padding-left: 3em; }

textarea.inputComment {
  position: fixed;
  height: calc(100% - 88px);
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  border: none; }

.disable {
  color: silver !important; }

/*# sourceMappingURL=3-2-2-1.css.map */
