@charset "UTF-8";
/* Sass Document */
/* Filetype Web Font **********************************************************/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", Osaka, Verdana, sans-serif; }

.header .header__center {
  width: calc(100vw - 21px * 2); }
.header .header__menu {
  min-width: 21px; }

article {
  margin-top: 44px; }

.noticeArea {
  padding: 16px 16px 0px 16px; }
  .noticeArea .noticeArea__list {
    position: relative;
    padding: 14px 12px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    font-size: 14px;
    box-shadow: 0 2px 6px #999999;
    background-color: #ffffff;
    overflow: hidden; }
    .noticeArea .noticeArea__list:last-child {
      margin-bottom: 0px; }
    .noticeArea .noticeArea__list ::after {
      content: "\e91c";
      position: absolute;
      font-family: 'icomoon' !important;
      color: #c7c7cc;
      font-size: 14px;
      top: 12px;
      right: 12px; }
    .noticeArea .noticeArea__list .noticeArea__list__contents {
      width: 90%; }
    .noticeArea .noticeArea__list .noticeArea__list__supplement {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-top: 8px;
      color: #666666;
      font-size: 12px; }
      .noticeArea .noticeArea__list .noticeArea__list__supplement .noticeInfo .noticeUser {
        margin-right: 8px; }

/*# sourceMappingURL=3-2-2.css.map */
