article {
  margin-top: 87px;
  border-top: solid 1px #ECEFF4; }

.header .header__center {
  width: calc(100vw - 80px * 2); }
.header .header__menu {
  min-width: 80px; }

.previousValue {
  color: #999999; }
  .previousValue::after {
    content: "km";
    padding-left: 8px; }

.list .list__content .inputtext {
  padding-right: 50px; }
.list .list__content .inputtext--wraparound::after {
  position: absolute;
  top: 21px;
  right: 16px;
  content: "km"; }
.list .list__content .inputtext--wraparound inputtext {
  padding-right: 30px; }

.error__text {
  margin-top: 8px; }

/*# sourceMappingURL=4-1.css.map */
