body {
  padding-top: 88px; }

.header .header__center {
  width: calc(100vw - 80px * 2); }
.header .header__menu {
  min-width: 80px; }

.tempContentWrapperWrap {
  height: calc(100vh - 264px); }

.lockWrap {
  height: calc(100vh - 88px); }

/*# sourceMappingURL=4-2.css.map */
