article {
  margin-top: 43px;
  border-top: solid 1px #ECEFF4; }

.header .header__center {
  width: calc(100vw - 80px * 2); }
.header .header__menu {
  min-width: 80px; }

/*# sourceMappingURL=4-3-2.css.map */
