@charset "UTF-8";
/* Sass Document */
/* Filetype Web Font **********************************************************/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", Osaka, Verdana, sans-serif; }

.header .header__center {
  width: calc(100vw - 105px * 2); }
.header .header__menu {
  min-width: 105px; }

.icon-trash {
  font-size: 22px;
  vertical-align: middle;
  margin-right: 8px; }

.icon-photo {
  font-size: 22px;
  vertical-align: middle;
  margin-right: 8px; }
  .icon-photo::before {
    color: #007AFF !important; }

article {
  margin-top: 44px; }

textarea.inputComment {
  position: fixed;
  height: calc(100% - 44px);
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
  border: none; }
  textarea.inputComment img {
    display: block;
    max-width: 100%;
    height: auto; }

.disable {
  color: silver !important; }

/*# sourceMappingURL=4-3-1.css.map */
