@charset "UTF-8";
/* Sass Document */
/* Filetype Web Font **********************************************************/
* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  font-size: 16px;
  font-size: 1.6rem;
  text-align: justify;
  text-justify: inter-ideograph;
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", Osaka, Verdana, sans-serif; }

h1 {
  font-size: 16px;
  margin: 0; }

h2 {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 24px;
  margin-bottom: 8px;
  color: #6d6d6d;
  font-size: 1.6rem;
  font-weight: normal; }

input[type="text"]::placeholder {
  color: #B4B7BD; }

.visitList {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  color: #6d6d6d;
  font-size: 16px; }
  .visitList.dropRangeTitle {
    text-align: center; }

.annotation {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  color: #6d6d6d; }

.infoWrapper {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  height: 60px;
  box-sizing: border-box;
  color: #707070;
  font-size: 19px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .infoWrapper .infoDate {
    margin-right: 1em; }
  .infoWrapper .infoContent {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center; }

body {
  background-color: #ECEFF4; }

.scroll {
  height: auto;
  overflow-y: auto; }

.header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  height: 44px;
  background-color: #F7F7F7;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0.5px 3px 0px rgba(0, 0, 0, 0.3); }
  .header .header__left .header__left--link {
    color: #007AFF;
    text-decoration: none; }
  .header .header__left .header__left--return {
    margin-left: -8px;
    text-decoration: none; }
    .header .header__left .header__left--return::before {
      content: "\e906";
      font-family: 'icomoon' !important;
      font-size: 20px;
      vertical-align: middle;
      color: #007AFF; }
  .header .header__left [type="checkbox"] {
    display: none; }
  .header .header__left .icon-menu {
    font-size: 20px; }
  .header .header__center {
    text-align: center;
    overflow: hidden; }
    .header .header__center .header__title--oneline {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center; }
  .header .header__right {
    text-align: right; }
    .header .header__right.textlink {
      text-decoration: none;
      color: #007AFF;
      vertical-align: middle; }
    .header .header__right.header__menu .icon {
      margin-left: 0.5em;
      text-decoration: none;
      font-size: 20px; }

.commentBox {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 44px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 8px;
  box-sizing: border-box;
  text-align: right;
  color: #333333;
  border-bottom: solid 1px #c7c7c7;
  background-color: white; }
  .commentBox .commentDate {
    padding-left: 1.5em; }
    .commentBox .commentDate time {
      margin-left: 0.5em; }

.commentContentRange {
  background-color: white; }
  .commentContentRange .commentContent {
    padding: 16px;
    line-height: 1.4;
    color: #333333; }
    .commentContentRange .commentContent img {
      display: block;
      max-width: 100%;
      height: auto; }

.btn {
  display: inline-block;
  padding: 6px 1em;
  border-radius: 15px;
  color: #ffffff;
  text-align: center;
  text-decoration: none; }
  .btn.btn--orange {
    background-color: #FF6600; }
  .btn.btn--blue {
    background-color: #007AFF; }
  .btn.btn--white {
    background-color: #ffffff;
    color: initial; }

.btnWrapper {
  margin: 0 16px; }
  .btnWrapper .basicBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px auto;
    max-width: 500px;
    height: 36px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #007AFF; }
    .btnWrapper .basicBtn a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #007AFF; }
    .btnWrapper .basicBtn span::before {
      content: "\e913";
      font-family: 'icomoon' !important;
      font-size: 24px;
      vertical-align: middle;
      margin-right: 0.25em; }

.breadcrumb {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%; }
  .breadcrumb .breadcrumb__list {
    display: flex;
    margin-top: 44px;
    width: 100%;
    box-sizing: border-box;
    list-style-type: none;
    padding-left: 16px;
    padding-right: 16px;
    height: 44px;
    border-bottom: solid 1px #c7c7c7;
    background-color: white;
    font-size: 14px; }
    .breadcrumb .breadcrumb__list li {
      width: 33.3%;
      text-align: center;
      line-height: 44px; }
    .breadcrumb .breadcrumb__list .breadcrumb__list__left {
      position: relative; }
    .breadcrumb .breadcrumb__list .breadcrumb__list__center {
      position: relative; }
    .breadcrumb .breadcrumb__list .triangle {
      position: absolute;
      right: -4px;
      top: 18px;
      transform: rotate(90deg);
      border-color: transparent transparent #999999 transparent;
      border-style: solid solid solid solid;
      border-width: 0 4px 6.93px 4px;
      height: 0;
      width: 0; }
    .breadcrumb .breadcrumb__list .breadcrumb__list--active {
      border-bottom: solid 3px #007AFF;
      color: #007AFF; }

.setLab {
  position: relative;
  width: 100%;
  height: 44px;
  line-height: 44px;
  overflow: hidden;
  background-color: white;
  -webkit-transform: translate3d(0, 0, 0); }
  .setLab .setLab__left {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    height: 44px;
    width: 44px;
    text-align: center; }
    .setLab .setLab__left .icon-arrow_left {
      font-size: 18px;
      font-family: 'icomoon' !important; }
      .setLab .setLab__left .icon-arrow_left::before {
        vertical-align: middle; }
  .setLab .setLab__center {
    position: relative;
    width: 100vw;
    height: 44px;
    overflow: hidden; }
    .setLab .setLab__center .setLab__center__container {
      position: absolute;
      top: 0;
      left: 0; }
      .setLab .setLab__center .setLab__center__container .setLab__center__container__list {
        position: relative;
        list-style-type: none;
        float: left;
        text-align: center;
        width: 100vw;
        height: 44px; }
  .setLab .setLab__right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
    height: 44px;
    width: 44px;
    text-align: center; }
    .setLab .setLab__right .icon-arrow_right {
      font-size: 18px;
      font-family: 'icomoon' !important; }
      .setLab .setLab__right .icon-arrow_right::before {
        vertical-align: middle; }

.setDay {
  position: relative;
  height: 56px;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border-bottom: solid 1px #c7c7c7;
  line-height: 56px; }
  .setDay .left {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    height: 56px;
    width: 56px;
    text-align: center; }
  .setDay .right {
    position: absolute;
    right: 0;
    top: 0;
    height: 56px;
    width: 56px;
    text-align: center; }
  .setDay .setDay__list {
    position: absolute;
    right: 0;
    width: calc(100% * 10);
    list-style: none;
    text-align: right;
    font-size: 0; }
    .setDay .setDay__list .setDay__list__days {
      display: inline-block;
      box-sizing: border-box;
      font-size: 16px;
      width: calc(100% / 10);
      text-align: center; }

.setDay__name {
  list-style-type: none;
  color: #666666;
  font-size: 1.4em; }

.error__text {
  list-style: none;
  margin-top: 24px;
  margin-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px; }
  .error__text li {
    margin-bottom: 8px;
    font-size: 1.3rem;
    line-height: 1.3;
    color: red; }
    .error__text li:last-child {
      margin-bottom: 0; }

.lording {
  min-height: 60px;
  background-color: rgba(255, 255, 255, 0.5);
  background: linear-gradient(to left, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) 40%, white 50%, rgba(255, 255, 255, 0.4) 60%, rgba(255, 255, 255, 0.4));
  background-size: 200% 100%;
  animation: AnimationName 2.5s linear infinite; }
@keyframes AnimationName {
  0% {
    background-position: 200% 100%; }
  100% {
    background-position: 0% 100%; } }
.noContent {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  color: #b4b7bd;
  background-color: rgba(255, 255, 255, 0.6); }

.list {
  list-style: none; }
  .list .list__content {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    height: 60px;
    z-index: 99; }
    .list .list__content::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 100%;
      background-color: white; }
    .list .list__content::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      display: block;
      width: calc(100% - 16px);
      height: 100%;
      box-sizing: border-box;
      border-bottom: solid 1px #c7c7c7; }
    .list .list__content a {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding-right: 24px;
      box-sizing: border-box;
      text-decoration: none;
      color: black; }
      .list .list__content a::after {
        content: "\e907";
        position: absolute;
        right: 16px;
        top: 0;
        display: flex;
        align-items: center;
        height: 100%;
        font-family: 'icomoon' !important;
        color: #8e8e8e; }
    .list .list__content .comentRecord .comentRecord--date time {
      margin-left: 0.5rem; }
    .list .list__content:last-child::after {
      width: 100%; }
    .list .list__content__word {
      padding-top: 16px;
      padding-bottom: 12px;
      height: auto; }
      .list .list__content__word .list__content__style dt {
        line-height: 1.4; }
      .list .list__content__word .list__content__style .comentRecord {
        padding-top: 4px; }
      .list .list__content__word a {
        height: auto; }
    .list .list__content--error::before {
      background-color: #ffeded; }
    .list .list__content--endpoint::after {
      width: 100%; }
    .list .list__content--inform::before {
      background-color: #ffeded; }
    .list .list__content--delivery::before {
      background-color: #f2f8ff; }
    .list .list__content--done::before {
      background-color: #f0f0f0; }
    .list .list__content--freeheight {
      height: auto; }
      .list .list__content--freeheight .list__content__style {
        padding-top: 12px;
        padding-bottom: 12px; }
    .list .list__content .list__content__control {
      display: none;
      position: absolute;
      top: 0;
      font-size: 0;
      height: 100%; }
      .list .list__content .list__content__control > div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 100%;
        color: #ffffff;
        font-size: 16px; }
        .list .list__content .list__content__control > div.list__content__control--back {
          background-color: #76D460; }
        .list .list__content .list__content__control > div.list__content__control--delete {
          background-color: #B92F1A; }
    .list .list__content.swipe--single .list__content__control {
      display: flex;
      right: -80px;
      width: 80px; }
      .list .list__content.swipe--single .list__content__control > div:nth-last-child(2) {
        display: none; }
    .list .list__content.swipe--double .list__content__control {
      display: flex;
      right: -160px;
      width: 160px; }
    .list .list__content .imgMask {
      display: block;
      float: left;
      min-width: 60px;
      width: 60px;
      height: 60px;
      margin-right: 16px;
      background-size: cover;
      background-position: center center; }
    .list .list__content .multipleDl {
      list-style: none; }
      .list .list__content .multipleDl .variableSide {
        color: #333333;
        font-size: 1.4rem; }
        .list .list__content .multipleDl .variableSide dt {
          display: inline-block; }
          .list .list__content .multipleDl .variableSide dt::after {
            content: "："; }
        .list .list__content .multipleDl .variableSide dd {
          display: inline-block; }
    .list .list__content .list__content__style {
      width: 100%; }
      .list .list__content .list__content__style > * {
        display: flex;
        align-items: center; }
      .list .list__content .list__content__style .list__content__style__master {
        margin-bottom: 5px;
        font-size: 1.5rem;
        overflow: hidden; }
        .list .list__content .list__content__style .list__content__style__master .enddot1 {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
        .list .list__content .list__content__style .list__content__style__master .enddot3 {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3; }
        .list .list__content .list__content__style .list__content__style__master .enddot4 {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4; }
        .list .list__content .list__content__style .list__content__style__master .closedDay dt {
          width: 9.5em;
          font-size: 1.4rem;
          float: left; }
          .list .list__content .list__content__style .list__content__style__master .closedDay dt .week::before {
            content: "（"; }
          .list .list__content .list__content__style .list__content__style__master .closedDay dt .week::after {
            content: "）"; }
        .list .list__content .list__content__style .list__content__style__master .closedDay dd {
          margin-left: 9.5em;
          line-height: 1.2; }
          .list .list__content .list__content__style .list__content__style__master .closedDay dd::after {
            content: "休診";
            padding-left: 1em; }
        .list .list__content .list__content__style .list__content__style__master--bothEnds {
          justify-content: space-between; }
        .list .list__content .list__content__style .list__content__style__master--left {
          justify-content: flex-start; }
        .list .list__content .list__content__style .list__content__style__master--right {
          justify-content: flex-end; }
      .list .list__content .list__content__style .list__content__style__slave {
        display: flex;
        width: 100%;
        font-size: 1.3rem;
        color: #666666; }
        .list .list__content .list__content__style .list__content__style__slave .comentRecord {
          display: flex;
          list-style: none; }
          .list .list__content .list__content__style .list__content__style__slave .comentRecord li {
            overflow: hidden;
            margin-left: 2rem;
            font-size: 1.2rem; }
        .list .list__content .list__content__style .list__content__style__slave .timeControl {
          display: flex;
          justify-content: flex-start;
          list-style: none; }
          .list .list__content .list__content__style .list__content__style__slave .timeControl li {
            margin-right: 2rem; }
          .list .list__content .list__content__style .list__content__style__slave .timeControl .timeControl--plan::before {
            content: "予定："; }
          .list .list__content .list__content__style .list__content__style__slave .timeControl .timeControl--prediction::before {
            content: "予測："; }
          .list .list__content .list__content__style .list__content__style__slave .timeControl .timeControl--done::before {
            content: "集荷完了："; }
        .list .list__content .list__content__style .list__content__style__slave--bothEnds {
          justify-content: space-between; }
        .list .list__content .list__content__style .list__content__style__slave--left {
          justify-content: flex-start; }
        .list .list__content .list__content__style .list__content__style__slave--right {
          justify-content: flex-end; }
        .list .list__content .list__content__style .list__content__style__slave--horizontal {
          text-align: left; }
      .list .list__content .list__content__style--bothEnds {
        display: flex;
        justify-content: space-between; }
      .list .list__content .list__content__style--horizontal {
        text-align: left; }
    .list .list__content .inputtext {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding-right: 16px;
      box-sizing: border-box;
      border: none;
      background-color: rgba(255, 255, 255, 0);
      text-align: right; }
  .list.list--narrow .list__content {
    height: 44px; }
  .list.list__clinic .list__content, .list.list__indent .list__content {
    padding-left: calc(16px + 30px); }
    .list.list__clinic .list__content--point .list__content__style::before, .list.list__indent .list__content--point .list__content__style::before {
      content: "\e912";
      position: absolute;
      left: 16px;
      top: 0;
      display: flex;
      align-items: center;
      height: 100%;
      font-family: 'icomoon' !important;
      font-size: 22px;
      color: #007aff; }
    .list.list__clinic .list__content--tel .list__content__style::before, .list.list__indent .list__content--tel .list__content__style::before {
      content: "\e90e";
      position: absolute;
      left: 16px;
      top: 0;
      display: flex;
      align-items: center;
      height: 100%;
      font-family: 'icomoon' !important;
      font-size: 20px;
      color: #8e8e8e; }
    .list.list__clinic .list__content--inform .list__content__style::before, .list.list__indent .list__content--inform .list__content__style::before {
      content: "\e90e";
      position: absolute;
      left: 16px;
      top: 0;
      display: flex;
      align-items: center;
      height: 100%;
      font-family: 'icomoon' !important;
      font-size: 20px;
      color: red; }
    .list.list__clinic .list__content--delivery .list__content__style::before, .list.list__indent .list__content--delivery .list__content__style::before {
      content: "\e902";
      position: absolute;
      left: 16px;
      top: 0;
      display: flex;
      align-items: center;
      height: 100%;
      font-family: 'icomoon' !important;
      font-size: 22px;
      color: #007aff; }
    .list.list__clinic .list__content--done .list__content__style::before, .list.list__indent .list__content--done .list__content__style::before {
      content: "\e909";
      position: absolute;
      left: 16px;
      top: 0;
      display: flex;
      align-items: center;
      height: 100%;
      font-family: 'icomoon' !important;
      font-size: 18px;
      color: #4bd964; }
    .list.list__clinic .list__content--done .list__content__style .timeControl .timeControl--plan, .list.list__indent .list__content--done .list__content__style .timeControl .timeControl--plan {
      display: none; }
    .list.list__clinic .list__content--done .list__content__style .timeControl .timeControl--prediction, .list.list__indent .list__content--done .list__content__style .timeControl .timeControl--prediction {
      display: none; }
    .list.list__clinic .list__content--done .list__content__style .timeControl .timeControl--done, .list.list__indent .list__content--done .list__content__style .timeControl .timeControl--done {
      display: block !important; }
  .list.list__clinic--visit .list__content .list__content__style .timeControl .timeControl--prediction, .list.list__indent--visit .list__content .list__content__style .timeControl .timeControl--prediction {
    display: none; }

.dropdown {
  position: relative;
  width: 100%;
  height: 100%; }
  .dropdown::after {
    content: "\e905";
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    font-family: 'icomoon' !important;
    color: #8e8e8e; }
  .dropdown .list__content__style {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    padding-right: 30px;
    box-sizing: border-box;
    z-index: 1; }
  .dropdown .dropdown__select {
    position: relative;
    z-index: 2;
    display: block;
    cursor: pointer;
    margin-left: -16px;
    width: calc(100% + 32px);
    height: 100%;
    border: none;
    appearance: none;
    opacity: 0; }
  .dropdown-default {
    color: #666666; }

.inputtext--wraparound.text1 .inputtext {
  padding-left: 3em; }
.inputtext--wraparound.text2 .inputtext {
  padding-left: 4em; }
.inputtext--wraparound.text3 .inputtext {
  padding-left: 5em; }
.inputtext--wraparound.text4 .inputtext {
  padding-left: 6em; }
.inputtext--wraparound.text5 .inputtext {
  padding-left: 7em; }
.inputtext--wraparound.text6 .inputtext {
  padding-left: 8em; }
.inputtext--wraparound.text7 .inputtext {
  padding-left: 9em; }
.inputtext--wraparound.text8 .inputtext {
  padding-left: 10em; }
.inputtext--wraparound.text9 .inputtext {
  padding-left: 11em; }
.inputtext--wraparound.text10 .inputtext {
  padding-left: 12em; }

.toggleSwitch .toggleSwitch__label {
  position: relative;
  display: inline-block;
  width: 50px; }
  .toggleSwitch .toggleSwitch__label .toggleSwitch__input {
    display: none; }
  .toggleSwitch .toggleSwitch__label .toggleSwitch__base {
    position: relative;
    display: block;
    height: 31px;
    cursor: pointer;
    border-radius: 31px;
    overflow: hidden; }
    .toggleSwitch .toggleSwitch__label .toggleSwitch__base::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      width: calc(100% - 3px);
      height: calc(100% - 3px);
      border: solid 1.5px #d1d1d1;
      border-radius: 31px;
      background-color: white; }
    .toggleSwitch .toggleSwitch__label .toggleSwitch__base::after {
      content: "";
      position: absolute;
      top: 0%;
      left: -35%;
      z-index: 2;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 31px;
      background-color: transparent;
      transition: all 0.5s; }
  .toggleSwitch .toggleSwitch__label .toggleSwitch__input:checked ~ .toggleSwitch__base:after {
    background-color: #4bd964;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .toggleSwitch .toggleSwitch__label .toggleSwitch__circle {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 3;
    display: block;
    width: 27px;
    height: 27px;
    box-shadow: 0 2px 6px #999999;
    border-radius: 50%;
    background-color: white;
    transition: all 0.5s; }
  .toggleSwitch .toggleSwitch__label .toggleSwitch__input:checked ~ .toggleSwitch__circle {
    left: 21px; }

.lockWrap {
  overflow: auto;
  height: 100vh; }

.lock {
  overflow: hidden; }

#labArea {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 120;
  height: 100%;
  width: 100%;
  padding-top: 65px;
  padding-right: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  transition: opacity 0.5s, display 0s ease 0.5s;
  opacity: 0;
  display: none; }
  #labArea.show {
    transition-delay: 0s;
    opacity: 1;
    display: table; }

#labArea__wrapper {
  display: table-cell;
  vertical-align: middle; }
  #labArea__wrapper .labArea__wrapper__list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 6px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.5);
    width: calc(50% - 16px);
    height: 150px;
    float: left;
    margin-bottom: 16px;
    margin-left: 16px;
    color: #999999; }
    #labArea__wrapper .labArea__wrapper__list.selected {
      background-color: #ffffff;
      color: black; }
    #labArea__wrapper .labArea__wrapper__list.active {
      background-color: #ffffff;
      color: black; }
      #labArea__wrapper .labArea__wrapper__list.active .toggleSwitch {
        display: none; }
    #labArea__wrapper .labArea__wrapper__list .temperatureIcon {
      position: absolute;
      top: 6px;
      text-align: center;
      height: 34px;
      box-sizing: border-box;
      font-size: 22px; }
    #labArea__wrapper .labArea__wrapper__list .labNameWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 59px;
      width: 100%;
      padding: 10px 10px;
      text-align: center;
      overflow: hidden;
      line-height: 1.5; }
      #labArea__wrapper .labArea__wrapper__list .labNameWrapper .labNameWrapper__content {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        width: 80%; }
    #labArea__wrapper .labArea__wrapper__list .toggleSwitch {
      position: absolute;
      left: 6px;
      bottom: 2px; }

.dialog__bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 110;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.5s, visibility 0s ease 0.5s, background 0s;
  opacity: 0;
  visibility: hidden; }
  .dialog__bg.show {
    transition-delay: 0s;
    opacity: 1;
    visibility: visible; }
  .dialog__bg.lab__bg {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 44px, rgba(0, 0, 0, 0.5) 64px, rgba(0, 0, 0, 0.5) 100%); }

.closeBtn {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 64px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0px, rgba(0, 0, 0, 0.3) 44px, rgba(0, 0, 0, 0) 100%); }
  .closeBtn span {
    position: relative;
    font-family: 'icomoon' !important;
    font-size: 20px; }
    .closeBtn span::before {
      color: #ffffff; }
  .closeBtn .closeCircle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: solid 2px #ffffff; }

.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 110;
  width: 70%;
  max-width: 310px;
  min-width: 260px;
  border-radius: 14px;
  background-color: #f8f8f8;
  text-align: center;
  transition: opacity 0.5s, visibility 0s ease 0.5s;
  opacity: 0;
  visibility: hidden; }
  .dialog.show {
    transition-delay: 0s;
    opacity: 1;
    visibility: visible; }
  .dialog .dialog__contents {
    display: flex;
    justify-content: center;
    min-height: 97px;
    flex-direction: column;
    padding: 10px 0; }
    .dialog .dialog__contents > h4 {
      margin: 8px 16px; }
    .dialog .dialog__contents > p {
      font-size: 1.4rem;
      line-height: 1.4;
      margin: 8px 16px; }
    .dialog .dialog__contents .dialog__contents__item {
      margin-bottom: 5px; }
      .dialog .dialog__contents .dialog__contents__item > span::after {
        content: '+';
        padding-right: 30px;
        padding-left: 30px; }
      .dialog .dialog__contents .dialog__contents__item > input[type="text"] {
        width: 90px;
        height: 30px;
        text-align: center; }
    .dialog .dialog__contents.clinicList {
      padding-bottom: 0px; }
      .dialog .dialog__contents.clinicList .clinicList__name {
        font-size: 14px; }
      .dialog .dialog__contents.clinicList .clinicList__value {
        font-size: 15px;
        color: #666666; }
  .dialog .dialog__buttonStyle {
    display: flex;
    text-align: center;
    height: 44px;
    border-top: solid 1px #c8c8c8;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    overflow: hidden; }
    .dialog .dialog__buttonStyle.buttonStyle--single {
      justify-content: center;
      align-items: center; }
      .dialog .dialog__buttonStyle.buttonStyle--single > * {
        width: 100%;
        height: 100%;
        line-height: 44px; }
      .dialog .dialog__buttonStyle.buttonStyle--single.clinicButton {
        border-top: initial; }
    .dialog .dialog__buttonStyle.buttonStyle--double div:first-child {
      border-right: solid 1px #c8c8c8; }
    .dialog .dialog__buttonStyle.buttonStyle--double > * {
      width: 50%;
      height: 100%;
      line-height: 44px; }
    .dialog .dialog__buttonStyle > * {
      color: #007AFF; }

input.tab-radio[type="radio"] {
  display: none; }

#tab1:checked ~ .tabSet .tab1_select,
#tab2:checked ~ .tabSet .tab2_select {
  background-color: #ECEFF4;
  border-color: #ECEFF4;
  color: #000000; }
  #tab1:checked ~ .tabSet .tab1_select::after, #tab1:checked ~ .tabSet .tab1_select::before,
  #tab2:checked ~ .tabSet .tab2_select::after,
  #tab2:checked ~ .tabSet .tab2_select::before {
    content: "";
    background-color: #ECEFF4;
    border-color: #ECEFF4; }

article#tab1-contents, article#tab2-contents {
  display: none; }

#tab1:checked ~ article#tab1-contents {
  display: block; }

#tab2:checked ~ article#tab2-contents {
  display: block; }

.tabSet {
  position: relative;
  height: 44px;
  background-color: #ffffff; }
  .tabSet .tabSet__Wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: flex;
    width: 100%;
    height: 36px; }
    .tabSet .tabSet__Wrap .tab {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 2.5%;
      width: 45%;
      height: 35px;
      border-top: solid 1px #b4b7b7;
      border-radius: 5px 5px 0 0;
      font-size: 15px;
      background-color: #ffffff;
      color: #007AFF; }
      .tabSet .tabSet__Wrap .tab::after {
        content: "";
        position: absolute;
        top: 0;
        left: -6px;
        z-index: -1;
        display: block;
        width: 10px;
        height: 37px;
        border-left: solid 1px #b4b7b7;
        border-top: solid 1px #b4b7b7;
        border-radius: 5px 5px 0 0;
        transform: rotate(15deg); }
      .tabSet .tabSet__Wrap .tab::before {
        content: "";
        position: absolute;
        top: 0;
        right: -6px;
        z-index: -1;
        display: block;
        width: 10px;
        height: 37px;
        border-right: solid 1px #b4b7b7;
        border-top: solid 1px #b4b7b7;
        border-radius: 0 5px 0 5px;
        transform: rotate(-15deg); }

.plusSymbol {
  position: relative;
  width: 22px;
  height: 22px;
  background-color: #4CD964;
  border-radius: 50%;
  margin-right: 0.4em; }
  .plusSymbol::before, .plusSymbol::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 60%;
    height: 2px;
    background-color: #ffffff; }
  .plusSymbol::after {
    left: 50%;
    margin-left: -30%;
    top: 50%;
    margin-top: -1px; }
  .plusSymbol::before {
    left: 50%;
    margin-left: -30%;
    top: 50%;
    margin-top: -1px;
    transform: rotate(90deg); }
  .plusSymbol + span {
    display: inline-block;
    color: #007AFF; }

.tempContentWrapperWrap {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.tempContentWrapper {
  display: flex;
  position: absolute;
  top: 0;
  left: 0; }
  .tempContentWrapper > li {
    width: calc(100% / 3);
    margin-right: 8px; }
    .tempContentWrapper > li:last-child {
      margin-right: 0; }
  .tempContentWrapper .tempContent {
    width: 100vw;
    padding: 0 16px;
    box-sizing: border-box; }

.tempBoxWrapper {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-top: 16px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px; }
  .tempBoxWrapper > li {
    width: calc(100% / 3);
    margin-right: 8px; }
    .tempBoxWrapper > li:last-child {
      margin-right: 0; }
  .tempBoxWrapper .tempBoxOpt--room {
    color: #ffffff;
    background-color: #DE7040; }
    .tempBoxWrapper .tempBoxOpt--room--off {
      color: #ffffff;
      background-color: #DE7040;
      opacity: 0.5; }
  .tempBoxWrapper .tempBoxOpt--cool {
    color: #ffffff;
    background-color: #3F74B4; }
    .tempBoxWrapper .tempBoxOpt--cool--off {
      color: #ffffff;
      background-color: #3F74B4;
      opacity: 0.5; }
  .tempBoxWrapper .tempBoxOpt--freeze {
    color: #ffffff;
    background-color: #674EC0; }
    .tempBoxWrapper .tempBoxOpt--freeze--off {
      color: #ffffff;
      background-color: #674EC0;
      opacity: 0.5; }

.tempBox {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6px; }
  .tempBox .tempTitle {
    font-size: 17px; }
  .tempBox .tempRange {
    margin-top: 5px;
    font-size: 12px; }

.tempListTitle {
  position: relative;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 8px;
  color: #6d6d6d;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px; }
  .tempListTitle--off {
    margin-top: 12px;
    margin-bottom: 8px;
    color: rgba(109, 109, 109, 0.5); }
  .tempListTitle .notes {
    position: absolute;
    bottom: -3px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border: solid 1px #007AFF;
    border-radius: 50%;
    box-sizing: border-box; }
    .tempListTitle .notes::before {
      content: "i";
      color: #007AFF;
      font-family: serif;
      font-weight: bold; }

.tempValue {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px; }
  .tempValue > li {
    width: calc(100% / 3);
    height: 42px;
    margin-right: 8px;
    background-color: white; }
    .tempValue > li:last-child {
      margin-right: 0; }
  .tempValue.inputComplete > li {
    background-color: #f5f7f7; }
    .tempValue.inputComplete > li input[type="text"] {
      color: rgba(109, 109, 109, 0.5); }
  .tempValue--room {
    border-bottom: solid 2px #DE7040; }
  .tempValue--cool {
    border-bottom: solid 2px #3F74B4; }
  .tempValue--freeze {
    border-bottom: solid 2px #674EC0; }
  .tempValue input[type="text"] {
    width: 100%;
    height: 42px;
    text-align: center;
    border: 0;
    background-color: transparent; }
  .tempValue.roomTempOff li:first-child {
    background-color: #f5f7f7;
    border-bottom: solid 2px rgba(222, 112, 64, 0.5); }
  .tempValue.roomTempOff li:first-child input[type="text"] {
    display: none; }
  .tempValue.coolTempOff li:nth-child(2) {
    background-color: #f5f7f7;
    border-bottom: solid 2px rgba(63, 116, 180, 0.5); }
  .tempValue.coolTempOff li:nth-child(2) input[type="text"] {
    display: none; }
  .tempValue.freezeTempOff li:nth-child(3) {
    background-color: #f5f7f7;
    border-bottom: rgba(103, 78, 192, 0.5); }
  .tempValue.freezeTempOff li:nth-child(3) input[type="text"] {
    display: none; }
  .tempValue .tempValue--disabled {
    opacity: 0.5;
    height: 42px;
    background-color: rgba(255, 255, 255, 0.5); }
    .tempValue .tempValue--disabled > input[type="text"] {
      display: none; }

/*# sourceMappingURL=common_murakata.css.map */
