.sideMenu {
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 120; }

.triggerCheck {
  left: 0;
  transition-duration: 0.5s; }

.triggerNoCheck {
  transition-duration: 0.5s; }

.sideNav {
  position: absolute;
  width: 340px;
  height: 100vh;
  padding-bottom: 30px;
  box-sizing: border-box;
  background-color: #ECEFF4; }
  .sideNav .menuHeader {
    position: relative;
    width: 340px;
    height: 64px;
    background-color: #F18C02; }
    .sideNav .menuHeader .menuHeader__wrapper {
      position: absolute;
      display: flex;
      justify-content: center;
      bottom: 12px;
      left: 0;
      width: 100%; }
      .sideNav .menuHeader .menuHeader__wrapper .menuHeader__wrapper__close {
        position: absolute;
        left: 16px; }
        .sideNav .menuHeader .menuHeader__wrapper .menuHeader__wrapper__close::before {
          content: '\e91c';
          font-size: 18px;
          color: #FFFFFF;
          font-family: 'icomoon' !important; }
      .sideNav .menuHeader .menuHeader__wrapper .menuHeader__wrapper__title {
        display: inline-block;
        color: #ffffff;
        font-size: 16px; }
  .sideNav .navContents .list__temp .list__content {
    height: 96px; }
    .sideNav .navContents .list__temp .list__content .temp {
      display: flex;
      flex-direction: column;
      width: 97px;
      height: 72px;
      color: #ffffff; }
      .sideNav .navContents .list__temp .list__content .temp--room {
        background-color: #DE7040; }
      .sideNav .navContents .list__temp .list__content .temp--cool {
        background-color: #3F74B4; }
      .sideNav .navContents .list__temp .list__content .temp--freeze {
        background-color: #674EC0; }
    .sideNav .navContents .list__temp .list__content .listContentTemp__contentName {
      width: 100%;
      text-align: center;
      padding-top: 8px; }
    .sideNav .navContents .list__temp .list__content .listContentTemp__contentValue {
      width: 100%;
      text-align: center;
      font-size: 22px;
      padding-top: 7px; }
  .sideNav .navContents .list__indent .list__content {
    padding-left: calc(16px + 40px); }
    .sideNav .navContents .list__indent .list__content .list__content__sampleNum::before {
      content: '\e901';
      position: absolute;
      left: 16px;
      top: 0;
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 28px;
      font-family: 'icomoon' !important;
      color: #F18C02; }
    .sideNav .navContents .list__indent .list__content .list__content__baseContact::before {
      content: '\e910';
      position: absolute;
      left: 16px;
      top: 0;
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 28px;
      font-family: 'icomoon' !important;
      color: #F18C02; }
    .sideNav .navContents .list__indent .list__content .list__content__registRefuel::before {
      content: '\e904';
      position: absolute;
      left: 16px;
      top: 0;
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 28px;
      font-family: 'icomoon' !important;
      color: #F18C02; }
    .sideNav .navContents .list__indent .list__content .list__content__searchClinic::before {
      content: '\e915';
      position: absolute;
      left: 16px;
      top: 0;
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 28px;
      font-family: 'icomoon' !important;
      color: #F18C02; }
    .sideNav .navContents .list__indent .list__content .list__content__stopWork::before {
      content: '\e916';
      position: absolute;
      left: 16px;
      top: 0;
      display: flex;
      align-items: center;
      height: 100%;
      font-size: 28px;
      font-family: 'icomoon' !important;
      color: #F18C02; }
  .sideNav .navContents .list__content__space {
    margin-top: 10px; }
  .sideNav .list .list__content a::after {
    color: #ffffff; }
  .sideNav .versionNo {
    position: absolute;
    bottom: 10px;
    right: 16px;
    font-size: 12px;
    color: #666666; }
    .sideNav .versionNo::before {
      content: "Ver.";
      margin-right: 0.2em; }

/*# sourceMappingURL=menu.css.map */
