// ヘッダー両端のサイズ
$sideWidth: 140px;

article {
	margin-top: 87px;
	border-top: solid 1px #ECEFF4;
}

.header {
	.header__center {
		width: calc(100vw - #{$sideWidth} * 2);
	}
	.header__menu {
		min-width: $sideWidth
	}
}