// ヘッダー両端のサイズ
$sideWidth: 80px;
 
article {
	margin-top: 87px;
	border-top: solid 1px #ECEFF4;
}

.header {
	.header__center {
		width: calc(100vw - #{$sideWidth} * 2);
	}
	.header__menu {
		min-width: $sideWidth
	}
}

.error__text {
	margin-top: 0;
	padding-left: 0;
	padding-right: 0;
}

// 集荷対象搬送先ラボ選択画面用
.labAreaAnother {
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
}

.labArea__wrapperAnother {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;
    .labArea__wrapperAnother__list {
		position: relative;
		display: flex;
		align-items: center;
		width: calc(50% - 8px);
		height: 150px;
		margin-bottom: 16px;
		padding-top: -24px;
		background-color: rgba(208,208,208,1);
		border-radius: 6px;
		color: rgba(153,153,153,1);
		transition: all 0.5s;
		transition-timing-function: ease-in;
		//スイッチをONにした時と、アクティブになっているラボの温度入力がまだ1件もされていない場合のステータス
		&.selected {
			background-color: rgba(255,255,255,1);
			color: rgba(0,0,0,1);
			box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.5);
		}
		//アクティブ後に温度入力があり、ラボが確定した場合のステータス
		&.active {
			background-color: rgba(255,255,255,1);
			color: rgba(0,0,0,1);
			box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.5);
			.toggleSwitch {
				display: none;
			}
		}
		.labNameWrapper {
			display: flex;
			align-items: center;
			justify-content: center;
            height: 65px;
            width: 100%;
			padding-left: 10px;
			padding-right: 10px;
			box-sizing: border-box;
			text-align: center;
			overflow: hidden;
            line-height: 1.5;
			.labNameWrapper__content {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
				overflow: hidden;
			}
		}
		.toggleSwitch {
            position: absolute;
            bottom: 2px;
            left: 6px;
		}
	}
}