// ヘッダー両端のサイズ
$sideWidth: 80px;

article {
	margin-top: 87px;
	border-top: solid 1px #ECEFF4;
}

.header {
	.header__center {
		width: calc(100vw - #{$sideWidth} * 2);
	}
	.header__menu {
		min-width: $sideWidth
	}
}

//表示切替用off表示
.hide {
	display: none !important;
}

.list {
	.list__content {
		.inputtext {
			padding-left: 16px;
			text-align: left;
		}
		&--done {
			&::before {
				background-color: white;
			}
		}
	}
}

//エラーテキスト例外
#error01 {
	margin-top: 8px;
}