//original設定
@import '_import';

// ヘッダー両端のサイズ
$sideWidth: 40px;

body {
	padding-top: 44px;
}

article {
	overflow: hidden;
	&#tab2-contents {
		padding-top: 16px;
	}
}

.header {
	.header__center {
		width: calc(100vw - #{$sideWidth} * 2);
	}
	.header__menu {
		min-width: $sideWidth
	}
}

#tab1-contents {
	margin-top: 16px;
}

//タブコントロール
input.formTab-radio[type="radio"] {display:none;}
	//タブ選択時スタイル制御
	#formTab1:checked ~ #blockWrap .tabsw1_select,
	#formTab2:checked ~ #blockWrap .tabsw2_select {
		background-color: $subColor;
		color: #fff;
	}
	//タブ表示制御
	#recoad__wrap #general, #recoad__wrap #electro {display:none;}
	#formTab1:checked ~ #recoad__wrap #general {display:flex;}
	#formTab2:checked ~ #recoad__wrap #electro {display:flex;}

//スクロール固定制御（jQuery用）
.fixed {
	position: fixed;
	top: 44px;
	left: 0;
	z-index: 20;
	width: 100%;
}
.fixed2 {
	position: fixed;
	top: 88px;
	left: 0;
	z-index: 20;
	width: 100%;
	background-color: #eceff4;
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	.formSwitch {
		margin: 5px auto !important;
	}
}

.rootFooter {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 50px;
	padding: 0px 40px;
	box-sizing: border-box;
	background-color: rgba(247,247,247,1);
	.rootFooter__list {
		display: flex;
		justify-content: space-between;
		.rootFooter__list__content {
			display: flex;
			align-items: center;
			height: 50px;
			list-style: none;
			& dl {
				& dt {
					text-align: center;
					font-size: 28px;
					&.active::before {
						color: $subColor;
					}
				}
				& dd {
					padding-top: 4px;
					text-align: center;
					font-size: 10px;
					color: rgba(142,142,147,1);
					&.active {
						color: $subColor;
					}
				}
			}
		}
	}
}