//original設定
@import '_import';

// ヘッダー両端のサイズ
$sideWidth: 21px;

.header {
	.header__center {
		width: calc(100vw - #{$sideWidth} * 2);
	}
	.header__menu {
        min-width: $sideWidth;
	}
}

article {
    margin-top: 44px;
}

.list {
	.list__content {
		.list__content__style {
			.list__content__style__master {
				.closedDay {
					display: flex;
					dt {
						padding-right: 1em;
						width: auto;
						min-width: 5em;
						max-width: 10em;
						box-sizing: border-box;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					dd {
						margin-left: auto;
						&::after{
							content: "";
							padding-left: 0;
						}
					}
				}
			}
			.list__content__style__slave {
				font-size: 1.3rem;
				margin-top: 5px;
			}
		}
	}
}