//original設定
@import '_import';

// ヘッダー両端のサイズ
$sideWidth: 80px;

body {
	padding-top: 44px;
}

article {
	overflow: hidden;
	&#tab2-contents {
		padding-top: 16px;
	}
}

.header {
	.header__center {
		width: calc(100vw - #{$sideWidth} * 2);
	}
	.header__menu {
		min-width: $sideWidth;
	}
}

//集荷先情報(病院情報)
.clinic {
	overflow: hidden;
	padding: 16px;
	.clinicName {
		font-weight: bold;
		font-size: 17px;
		line-height: 1.2;
		margin-bottom: 16px;
	}
	.clinicInfo {
		.clinicInfo__data {
			display: flex;
			justify-content: space-between;
			& > .address {
				margin-bottom: 14px;
			}
			& > .tel {
				width: 250px;
				text-align: right;
				color: $subColor;
			}
		}
		.clinicInfo__time {
			color: rgba(102,102,102,1);
			&::before {
				content: "予定時刻：";
			}
		}
	}
}
//集荷なしボタン
.noCollectBtn {
	float: right;
}

//マニュアルカテゴリー
#manualCategory {
	position: relative;
	&::after {
		position: absolute;
		right: 0;
		z-index: -1;
		content: "\e905";
		font-family: 'icomoon' !important;
	}
	select {
		display: inline-block;
		padding-right: 25px;
		border: none;
		background: transparent;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;/* ドロップダウンスタイルを無効にする */
	}
}


//タブコントロール
input.formTab-radio[type="radio"] {display:none;}
	//タブ選択時スタイル制御
	#formTab1:checked ~ #blockWrap .tabsw1_select,
	#formTab2:checked ~ #blockWrap .tabsw2_select {
		background-color: $subColor;
		color: #fff;
	}
	//タブ表示制御
	#recoad__wrap #general, #recoad__wrap #electro {display:none;}
	#formTab1:checked ~ #recoad__wrap #general {display:flex;}
	#formTab2:checked ~ #recoad__wrap #electro {display:flex;}

//一般電子切替えスイッチ
#blockWrap {
	-webkit-transform: translate3d(0, 0, 0);
	.formSwitch {
		display: flex;
		margin: 12px auto;
		width: 144px;
		height: 29px;
		border: solid 1px $subColor;
		border-radius: 4px;
		overflow: hidden;
		transition: all 0.5s;
		.tabsw {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
			height: 100%;
			color: $subColor;
			text-align: center;
			font-size: 13px;
		}
	}
}
//検体入力枠
#recoad__wrap {
	position: relative;
	height: 850px;
}

//作業日誌のフッター要素
.tempContentWrapper {
	.tempContentFooter {
		position: fixed;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		height: 42px;
		padding: 0 16px;
		box-sizing: border-box;
		background-color: rgba(247,247,247,1);
		box-shadow: 0 -1px 2px rgba(0,0,0,0.2);
		.tempContentFooter__list,
		.tempContentFooter__icon {
			display: flex;
			list-style: none;
			a {
				margin-left: 20px;
				text-decoration: none;
				.icon {
					font-size: 24px;
				}
			}
			.notifDot {
				position: relative;
				&::after {
					content: "";
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background-color: #B92F1A;
					position: absolute;
					top: -6px;
					right: -5px;
				}
			}
			.totalValue {
				dl {
					display: flex;
					align-items: center;
					dt {
						color: rgba(102,102,102,1);
						font-size: 14px;
						&::after {
							content: "：";
						}
					}
					dd {
						margin-right: 24px;
						font-size: 20px;
					}
				}
			}
		}
	}
}

//ID数/依頼書枚数等（温度下以外の入力値）
.initialValue {
	display: flex;
	justify-content: flex-start;
	list-style: none;
	margin-top: 16px;
	margin-right: auto;
	margin-left: auto;
	max-width: 600px;
	.inputValue {
		width: calc(100% / 3);
		margin-right: 8px;
		color: #6d6d6d;
		&:last-child { margin-right: 0; }
		input[type="text"] {
			display: block;
			margin-top: 8px;
			width: 100%;
			height: 42px;
			text-align: center;
			background-color: white;
			border: 0;
		}
	}
}

//その他ラボのラボ名称部品
.lab-name {
	display: none;
	height: 42px;
	border-top: solid 1px #c7c7c7;
	border-bottom: solid 1px #c7c7c7;
	input[type="text"] {
		height: 42px;
		width: 100%;
		text-align: center;
		background-color: white;
		border: 0;
	}
}

//スクロール固定制御（jQuery用）
.fixed {
	position: fixed;
	top: 44px;
	left: 0;
	z-index: 20;
	width: 100%;
}
.fixed2 {
	position: fixed;
	top: 88px;
	left: 0;
	z-index: 20;
	width: 100%;
	background-color: #eceff4;
	box-shadow: 0 2px 4px rgba(0,0,0,0.3);
	.formSwitch {
		margin: 5px auto !important;
	}
}