//original設定
@import '_import';

// ヘッダー両端のサイズ
$sideWidth: 21px;

.header {
	.header__center {
		width: calc(100vw - #{$sideWidth} * 2);
	}
	.header__menu {
        min-width: $sideWidth;
	}
}

article {
    margin-top: 44px;
}

.noticeArea {
    padding: 16px 16px 0px 16px;
    .noticeArea__list {
        position: relative;
        padding: 14px 12px;
        box-sizing: border-box;
        margin-bottom: 16px;
        border-radius: 6px;
        font-size: 14px;
        box-shadow: 0 2px 6px rgba(153,153,153,1);
        background-color: #ffffff;
        overflow: hidden;
        &:last-child {
            margin-bottom: 0px;
        }
        ::after {
            content: "\e91c";
            position: absolute;
            font-family: 'icomoon' !important;
            color: rgba(199,199,204,1);
            font-size: 14px;
            top: 12px;
            right: 12px;
        }
        .noticeArea__list__contents {
            width: 90%;
        }
        .noticeArea__list__supplement {
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding-top: 8px;
            color: rgba(102,102,102,1);
            font-size: 12px;
            .noticeInfo .noticeUser {
                margin-right: 8px;
            }
        }
    }
}