//original設定
@import '_import';

// ヘッダー両端のサイズ
$sideWidth: 80px;

.header {
	.header__center {
		width: calc(100vw - #{$sideWidth} * 2);
	}
	.header__menu {
        min-width: $sideWidth;
	}
}

.icon-photo {
    font-size: 21px;
    margin-right: 20px;
    vertical-align: middle;
    color: $subColor;
}

article {
    margin-top: 44px;
    width: 100vw;
    height: calc(100vh - 44px);
    background-color: rgba(255,255,255,1);
}
    .commentTypeWrapper {
        position: relative;
        display: block;
        width: 100%;
        height: 44px;
        border-bottom: solid 1px rgba(199,199,199,1);
        &::before {
            position: absolute;
            z-index: 10;
            top: 14px;
            left: 16px;
            content: "あ";
        }
        &::after {
            position: absolute;
            z-index: 10;
            top: 14px;
            right: 16px;
            content: "\e905";
            font-family: 'icomoon' !important;
            color: rgba(142,142,142,1);
        }
        .commentTypeWrapper__select {
            width: 100%;
            height: 44px;
            padding-left: 3em;
        }
    }

//特記事項入力
textarea.inputComment {
	position: fixed;//textareaのズレバグ対策用
	height: calc(100% - 88px);//textareaのズレバグ対策用
	padding: 16px;
	width: 100%;
	box-sizing: border-box;
    border: none;
}

// 登録ボタン非活性
.disable {
	color: rgba(192,192,192,1) !important;
}