// ヘッダー両端のサイズ
$sideWidth: 80px;

article {
	margin-top: 87px;
	border-top: solid 1px #ECEFF4;
}

.header {
	.header__center {
		width: calc(100vw - #{$sideWidth} * 2);
	}
	.header__menu {
		min-width: $sideWidth
	}
}

.previousValue {
	color: rgba(153,153,153,1);
	&::after {
		content: "km";
		padding-left: 8px;
	}
}

.list {
	.list__content {
		.inputtext {
			padding-right: 50px;
		}

		.inputtext--wraparound {
			&::after {
				position: absolute;
				top: 21px;
				right: 16px;
				content: "km";
			}
			inputtext {
				padding-right: 30px;
			}
		}
	}
}

//エラーテキスト例外
.error__text {
	margin-top: 8px;
}