// ヘッダー両端のサイズ
$sideWidth: 80px;

body {
	padding-top: 88px;
}

.header {
	.header__center {
		width: calc(100vw - #{$sideWidth} * 2);
	}
	.header__menu {
		min-width: $sideWidth
	}
}


.tempContentWrapperWrap {
	height: calc(100vh - 264px);
}

.lockWrap {
	height: calc(100vh - 88px);
}