//original設定
@import '_import';

// ヘッダー両端のサイズ
$sideWidth: 105px;

.header {
	.header__center {
		width: calc(100vw - #{$sideWidth} * 2);
	}
	.header__menu {
		min-width: $sideWidth;
	}
}

.icon-trash {
    font-size: 22px;
    vertical-align: middle;
    margin-right: 8px;
}
.icon-photo {
    font-size: 22px;
    vertical-align: middle;
    margin-right: 8px;
    &::before {
        color: $subColor !important;
    }
}

article {
	margin-top: 44px;
}

//引継ぎコメント入力
textarea.inputComment {
	position: fixed;//textareaのズレバグ対策用
	height: calc(100% - 44px);//textareaのズレバグ対策用
	padding: 16px;
	width: 100%;
	box-sizing: border-box;
	border: none;
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}


.disable {
	color: rgba(192,192,192,1) !important;
}