@charset "UTF-8";

@import '_variables';

// Sass Document　継承設定

* {margin:0; padding:0;}

// /* フォントサイズリセット */
//「ブラウザ標準サイズ16px×0.625＝10px」＝「10px＝1em」
html {
	font-size: 62.5%;
}

// /* 基本書体サイズ */
// 1.6em＝16px
body {
	font-size: $font-size-base-px; font-size: $font-size-base-rem;
	text-align:justify;
	text-justify:inter-ideograph;
	font-family:$font-family-base;
}