@charset "UTF-8";
// Sass Documen　変数設定

// ブランドカラー
// $mainColor: rgba(255,102,102,1);
$mainColor: #FF6600;
// $subColor:rgba(0,122,122,1);
$subColor: #007AFF;
$bgColor: rgba(255,255,255,1);
$errColor: rgba(255,0,0,1);
// 温度確認カラー
// $roomColor: rgba(222,122,122,1);
$roomColor: #DE7040;
// $coolColor: rgba(63,116,116,1)
$coolColor: #3F74B4;
// $freezeColor: rgba(103, 78, 78, 1)
$freezeColor: #674EC0;

//企業情報ページで使用
$company-profile-color:#66a8de;
// リンク
$link-color:$mainColor !default;
$link-bg-color:rgba( $link-color, 0.2 );
$link-hover-color:      lighten($link-color, 15%) !default;
$link-hover-decoration: underline !default;


// サイトの基本幅(default width)

//homeのヘッダー高さ

//サブページヘッダー高さ

//フッターの基本の高さ

// 付与するベンダープレフィックス
$prefixAll: -webkit-, -moz-, -ms-, -o-, null;

//フォント共通設定
$font-base-color:    #333!default;
$font-family-base:'Hiragino Sans','ヒラギノ角ゴシック','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ','Meiryo','ＭＳ Ｐゴシック',Osaka,Verdana,sans-serif !default;
$font-size-base-px:  16px !default;
$font-size-base-rem: 1.6rem !default;
//$line-height-base: 1.428571429 !default;

//フォント定義は_webfont.scssに統合