@charset "UTF-8";
// Font設定

@import '_fontfiles';

//Adobe Typekit ************************************************************

//Acumin Pro
@mixin acumin-pro {
	font-family: "acumin-pro",sans-serif;
	font-style: normal;
	font-weight: 400;
	}
@mixin acumin-pro-thin {
	font-family: "acumin-pro",sans-serif;
	font-style: normal;
	font-weight: 100;
	}
@mixin acumin-pro-exlight {
	font-family: "acumin-pro",sans-serif;
	font-style: normal;
	font-weight: 200;
	}
@mixin acumin-pro-light {
	font-family: "acumin-pro",sans-serif;
	font-style: normal;
	font-weight: 300;
	}
@mixin acumin-pro-medium {
	font-family: "acumin-pro",sans-serif;
	font-style: normal;
	font-weight: 500;
	}
@mixin acumin-pro-semibold {
	font-family: "acumin-pro",sans-serif;
	font-style: normal;
	font-weight: 600;
	}
@mixin acumin-pro-bold {
	font-family: "acumin-pro",sans-serif;
	font-style: normal;
	font-weight: 700;
	}
@mixin acumin-pro-black {
	font-family: "acumin-pro",sans-serif;
	font-style: normal;
	font-weight: 800;
	}
@mixin acumin-pro-ultraBl {
	font-family: "acumin-pro",sans-serif;
	font-style: normal;
	font-weight: 900;
	}
//Acumin Pro Condensed
@mixin acumin-pro-condensed-thin {
	font-family: "acumin-pro-condensed",sans-serif;
	font-style: normal;
	font-weight: 100;
	}
@mixin acumin-pro-condensed-exlight {
	font-family: "acumin-pro-condensed",sans-serif;
	font-style: normal;
	font-weight: 200;
	}
@mixin acumin-pro-condensed-light {
	font-family: "acumin-pro-condensed",sans-serif;
	font-style: normal;
	font-weight: 300;
	}
@mixin acumin-pro-condensed {
	font-family: "acumin-pro-condensed",sans-serif;
	font-style: normal;
	font-weight: 400;
	}
@mixin acumin-pro-condensed-medium {
	font-family: "acumin-pro-condensed",sans-serif;
	font-style: normal;
	font-weight: 500;
	}
@mixin acumin-pro-condensed-semibold {
	font-family: "acumin-pro-condensed",sans-serif;
	font-style: normal;
	font-weight: 600;
	}
@mixin acumin-pro-condensed-bold {
	font-family: "acumin-pro-condensed",sans-serif;
	font-style: normal;
	font-weight: 700;
	}
@mixin acumin-pro-condensed-black {
	font-family: "acumin-pro-condensed",sans-serif;
	font-style: normal;
	font-weight: 800;
	}
@mixin acumin-pro-condensed-ultraBl {
	font-family: "acumin-pro-condensed",sans-serif;
	font-style: normal;
	font-weight: 900;
	}


//サーバー置き型フォント ******************************************************
