//original設定
@import '_import';



// 見出しフォントサイズ
h1 {
    font-size: 16px;
    margin: 0;
}
//中見出しスタイル
h2 {
	padding-left: 16px;
	padding-right: 16px;
	margin-top: 24px;
	margin-bottom: 8px;
	color: rgba(109,109,109,1);
	font-size: 1.6rem;
	font-weight: normal;
}
//プレースホルダ―テキスト
input[type="text"] {
	&::placeholder {
		color: #B4B7BD;
	}
}

// 訪問順序変更見出しタイトル
.visitList {
	padding-top: 16px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 8px;
	color: rgba(109,109,109,1);
	font-size: 16px;
	&.dropRangeTitle {
		text-align: center;
	}
	
}

// 注釈スタイル
.annotation {
	margin-top: 16px;
	margin-left: 16px;
	margin-right: 16px;
	color: rgba(109,109,109,1);
}

// メインコンテンツに対する補足情報部分
.infoWrapper {
	display: flex;
	align-items: center;
	padding: 8px 16px;
	height: 60px;
	box-sizing: border-box;
	color: #707070;
	font-size: 19px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	.infoDate {
		margin-right: 1em;
	}
	.infoContent {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		text-align: center
	}
}

// 背景
body {
    background-color: #ECEFF4
}

// インラインスクロール用スタイル
.scroll {
	height: auto;
	overflow-y: auto;
}

// ヘッダースタイル
.header {
    display: flex;
    position: fixed;
	top: 0;
	z-index: 100;
    width: 100%;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    height: 44px;
    background-color: #F7F7F7;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0.5px 3px 0px rgba(0,0,0,0.3);
    .header__left {
        // 戻るボタン（テキスト）
        .header__left--link {
            color: $subColor;
            text-decoration: none;
        }
        // 戻るボタン（記号）
        .header__left--return {
			margin-left: -8px;
			text-decoration: none;
            &::before {
				content: "\e906";
				font-family: 'icomoon' !important;
				font-size: 20px;
				vertical-align: middle;
				color: $subColor
			}
		}
		// MENU
		[type="checkbox"] {
			display: none;
		}
		.icon-menu { font-size: 20px; }
    }
	.header__center {
		text-align: center;
		overflow: hidden;
		.header__title--oneline {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			text-align: center
		}
	}
    .header__right {
		text-align: right;
		&.textlink {
			text-decoration: none;
			color: $subColor;
			vertical-align: middle;
		}
		&.header__menu {
			.icon {
				margin-left: 0.5em;
				text-decoration: none;
				font-size: 20px
			}
		}
    }
}

// コメント詳細画面サブヘッダー
.commentBox {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	width: 100%;
	height: 44px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 8px;
	box-sizing: border-box;
	text-align: right;
	color: rgba(51,51,51,1);
	border-bottom: solid 1px rgba(199,199,199,1);
	background-color: rgba(255,255,255,1);
	.commentUser {}
	.commentDate {
		padding-left: 1.5em;
		time { margin-left: 0.5em; }
	}
}
//引継ぎコメント欄
.commentContentRange {
	background-color: rgba(255,255,255,1);
	.commentContent {
		padding: 16px;
		line-height: 1.4;
		color: rgba(51,51,51,1);
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}


// ボタンスタイル
.btn {
    display: inline-block;
    padding: 6px 1em;
    border-radius: 15px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    &.btn--orange {
        background-color: $mainColor;
    }
    &.btn--blue {
        background-color: $subColor
	}
	&.btn--white {
		background-color: #ffffff;
		color: initial
	}
}

.btnWrapper {
	margin: 0 16px;
	// マニュアル追加ボタン
	.basicBtn {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 16px auto;
		max-width: 500px;
		height: 36px;
		border-radius: 4px;
		background-color: #ffffff;
		color: $subColor;
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			text-decoration: none;
			color: #007AFF;
		}
		span::before {
			content: "\e913";
			font-family: 'icomoon' !important;
			font-size: 24px;
			vertical-align: middle;
			margin-right: 0.25em;
		}
	}
}

// ブレッドクラムスタイル
.breadcrumb {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	.breadcrumb__list {
		display: flex;
		margin-top: 44px;
		width: 100%;
		box-sizing: border-box;
		list-style-type: none;
		padding-left: 16px;
		padding-right: 16px;
		height: 44px;
		border-bottom: solid 1px rgba(199,199,199,1);
		background-color: $bgColor;
		font-size: 14px;
		li {
			width: 33.3%;
			text-align: center;
			line-height: 44px
		}
		.breadcrumb__list__left {
			position: relative
		}
		.breadcrumb__list__center {
			position: relative
		}
		.breadcrumb__list__right {   
		}
		.triangle {
			position: absolute;
			right: -4px;
			top: 18px;
			transform: rotate(90deg);
			border-color: transparent transparent #999999 transparent;
			border-style: solid solid solid solid;
			border-width: 0 4px 6.93px 4px;
			height: 0;
			width: 0
		}
		.breadcrumb__list--active {
			border-bottom: solid 3px $subColor;
			color: $subColor
		}
	}
}

// ラボ選択リスト
.setLab {
    position: relative;
    width: 100%;
    height: 44px;
    line-height: 44px;
    overflow: hidden;
    background-color: $bgColor;
	-webkit-transform: translate3d(0, 0, 0);
    .setLab__left {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 5;
		height: 44px;
		width: 44px;
		text-align: center;
		.icon-arrow_left {
			font-size: 18px;
			font-family: 'icomoon' !important;
			&::before {
				vertical-align: middle;
			}
		}
    }
    .setLab__center {
        position: relative;
        width: 100vw;
        height: 44px;
        overflow: hidden;
        .setLab__center__container {
            position: absolute;
            top: 0;
            left: 0;
            .setLab__center__container__list {
                position: relative;
                list-style-type: none;
                float: left;
                text-align: center;
                width: 100vw;
                height: 44px
            }
        }
    }
    .setLab__right {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 5;
        height: 44px;
        width: 44px;
		text-align: center;
		.icon-arrow_right {
			font-size: 18px;
			font-family: 'icomoon' !important;
			&::before {
				vertical-align: middle;
			}
		}
    }
}

// 日付選択欄
$setDaylist: 10;// リスト数分指定する

.setDay {
    position: relative;
    height: 56px;
    width: 100%;
    box-sizing: border-box;
    background-color: #ffffff;
    border-bottom: solid 1px rgba(199,199,199,1);
    line-height: 56px;

    .left {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
        height: 56px;
        width: 56px;
        text-align: center
    }
    .right {
        position: absolute;
        right: 0;
        top: 0;
        height: 56px;
        width: 56px;
        text-align: center
    }
    .setDay__list {
        position: absolute;
		right: 0;
		width: calc(100% * #{$setDaylist});
        list-style: none;
        text-align: right;
        font-size: 0;
        .setDay__list__days {
            display: inline-block;
            box-sizing: border-box;
            font-size: 16px;
            width: calc(100% / #{$setDaylist});
            text-align: center
        }
    }
}


.setDay__name {
    list-style-type: none;
    color: #666666;
    font-size: 1.4em;
}


// エラーメッセージ
.error__text {
	list-style: none;
	margin-top: 24px;
	margin-bottom: 8px;
	padding-left: 16px;
	padding-right: 16px;
	li {
		margin-bottom: 8px;
		font-size: 1.3rem;
		line-height: 1.3;
		color: $errColor;
		&:last-child {
			margin-bottom: 0;
		}
	}
}


// lordingスタイル
.lording {
	min-height: 60px;
	background-color: rgba(255,255,255,0.5);
	background: linear-gradient(to left, rgba(255,255,255,0.4), rgba(255,255,255,0.4) 40%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.4) 60%, rgba(255,255,255,0.4));
	background-size: 200% 100%;
	animation: AnimationName 2.5s linear infinite;

	@keyframes AnimationName {
	0%{background-position:200% 100%}
	100%{background-position:0% 100%}
	}
}


// コンテンツがない場合の表示スタイル
.noContent {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 60px;
	color: rgba(180,183,189,1);
	background-color: rgba(255,255,255,0.6);
}

// リストスタイル（ul）
.list {
	list-style: none;
	//li基本スタイル（li）
	.list__content {
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 16px;
		padding-right: 16px;
		height: 60px;
		z-index: 99;
		//Colorコントロール
		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			z-index: -1;
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba(255,255,255,1);
		}
		//borderコントロール
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			z-index: -1;
			display: block;
			width: calc(100% - 16px);
			height: 100%;
			box-sizing: border-box;
			border-bottom: solid 1px rgba(199,199,199,1);
		}
		//<a>リンクタブが挿入された場合
		a {
			display: flex;
			align-items: center;
			width: 100%;
			height: 100%;
			padding-right: 24px;
			box-sizing: border-box;
			text-decoration: none;
			color: rgba(0,0,0,1);
			//※リンクの場合はデフォルトで＞矢印が入る
			&::after {
				content: "\e907";
				position: absolute;
				right: 16px;
				top: 0;
				display: flex;
				align-items: center;
				height: 100%;
				font-family: 'icomoon' !important;
				color: rgba(142,142,142,1);
			}
		}
		.comentRecord {
			.comentRecord--date {
				time {margin-left: 0.5rem;}
			}
		}
		//リスト最後はendpointが無くても自動的に閉じる
		&:last-child {
			&::after {
				width: 100%;
			}
		}
		//liに付加スタイル（文章のリスト）
		&__word {//list__content
			padding-top: 16px;
			padding-bottom: 12px;
			height: auto;
			.list__content__style {
				dt {line-height: 1.4;}
				.comentRecord {
					padding-top: 4px;
				}
			}
			//<a>リンクタブが挿入された場合
			a {
				height: auto;
			}
		}
		//liに付加スタイル（エラー）
		&--error {//list__content
			&::before {
				background-color: rgba(255,237,237,1);
			}
		}
		//liに付加スタイル（区切り）
		&--endpoint {//list__content
			&::after {
				width: 100%;
			}
		}
		//liに付加スタイル（電話集荷未返答時）
		&--inform {
			&::before {
				background-color: rgba(255,237,237,1);
			}
		}
		//liに付加スタイル（途中引渡し時）
		&--delivery {
			&::before {
				background-color: rgba(242,248,255,1);
			}
		}
		//liに付加スタイル（集荷完了時）
		&--done {
			&::before {
				background-color: rgba(240,240,240,1);
			}
		}
		&--freeheight {
			height: auto;
			.list__content__style {
				padding-top: 12px;
				padding-bottom: 12px;
			}
		}
		//スワイプイベント（swipeList.js）用スタイル
		//スワイプイベントボタン
		.list__content__control {
			display: none;
			position: absolute;
			top: 0;
			font-size: 0;
			height: 100%;
			>div {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 80px;
				height: 100%;
				color: #ffffff;
				font-size: 16px;
				&.list__content__control--back {
					background-color: #76D460;

				}
				&.list__content__control--delete {
					background-color: #B92F1A;
				}
			}
		}
		&.swipe--single {
			.list__content__control {
				display: flex;
				right: -80px;
				width: 80px;
				>div:nth-last-child(2) {
					display: none;
				}
			}
		}
		&.swipe--double {
			.list__content__control {
				display: flex;
				right: -160px;
				width: 160px;
			}
		}
		// ◆◆◆その他の個別要素スタイル◆◆◆
		// 画像マスク
		.imgMask {
			display: block;
			float: left;
			min-width: 60px;
			width: 60px;
			height: 60px;
			margin-right: 16px;
			background-size: cover;
			background-position: center center;
		}
		//複数項目の説明リスト
		.multipleDl {
			list-style: none;
			.variableSide {
				color: #333333;
				font-size: 1.4rem;
				dt {
					display: inline-block;
					&::after {
						content: "："
					}
				}
				dd {
					display: inline-block;
				}
			}
		}
		
		// dlスタイル基本
		.list__content__style {
			width: 100%;
			>* {
				display: flex;
				align-items: center;
			}
			//dtスタイル基本
			.list__content__style__master {
				margin-bottom: 5px;
				font-size: 1.5rem;
				overflow: hidden;
				//文字が多い場合に省略点（…）表示：最大1行
				.enddot1 {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				//文字が多い場合に省略点（…）表示：最大3行
				.enddot3 {
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 3;
				}
				// 文字が多い場合に省略点（…）表示：最大4行
				.enddot4 {
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 4;
				}
				.closedDay {
					dt {
						width: 9.5em;
						font-size: 1.4rem;
						float: left;
						.week {
							&::before { content: "（"; }
							&::after { content: "）"; }
						}
					}
					dd {
						margin-left: 9.5em;
						line-height: 1.2;
						&::after {
							content: "休診";
							padding-left: 1em;
						}
					}
				}
// master内要素が２つの場合
//				.list__content__style__master--multiple {
//					display: flex;
//					font-size: 14px
//				}
			&--bothEnds {
				justify-content: space-between;
			}
			&--left {
				justify-content: flex-start;
			}
			&--right {
				justify-content: flex-end;
			}
			&--horizontal {  }
			}
			//ddスタイル基本
			.list__content__style__slave {
				display: flex;
				width: 100%;
				font-size: 1.3rem;
				color: rgba(102,102,102,1);
				//孫スタイルバリエーション
				.comentRecord {
					display: flex;
					list-style: none;
					li {
						overflow: hidden;
						margin-left: 2rem;
						font-size: 1.2rem;
					}
				}
				//時間制御
				.timeControl {
					display: flex;
					justify-content: flex-start;
					list-style: none;
					li {margin-right: 2rem;}
					.timeControl--plan {
						&::before {
							content: "予定：";
						}
					}
					.timeControl--prediction {
						&::before {
							content: "予測：";
						}
					}
					.timeControl--done {
						&::before {
							content: "集荷完了：";
						}
					}
				}
			&--bothEnds {
				justify-content: space-between;
			}
			&--left {
				justify-content: flex-start;
			}
			&--right {
				justify-content: flex-end;
			}
			&--horizontal { text-align: left; }
			}
		//list__content__style付加バリエーション
		// 両端ぞろえスタイル
		&--bothEnds {
			display: flex;
			justify-content: space-between;
		}
		//横並びスタイル
		&--horizontal {
			text-align: left;
		}
//		// 縦並びスタイル
//		&--vertical {
//		}
		}//list__content__style
		//inputテキスト共通
		.inputtext {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			padding-right: 16px;
			box-sizing: border-box;
			border: none;
			background-color: rgba(255,255,255,0);
			text-align: right;
		}
	}//.list__content

//細身のリストスタイルの際に付加する
&.list--narrow {
	.list__content {
		height: 44px;
	}
}

//病院一覧の時にul.listに付加する
&.list__clinic, &.list__indent {
	.list__content {
		padding-left: calc(16px + 30px);

	//次に向かう集荷先に使用するclass
	&--point {
		.list__content__style {
			&::before {
				content: "\e912";
				position: absolute;
				left: 16px;
				top: 0;
				display: flex;
				align-items: center;
				height: 100%;
				font-family: 'icomoon' !important;
				font-size: 22px;
				color: rgba(0,122,1255,1);
			}
		}
	}
	//電話集荷返答済時に使用するclass
	&--tel {
		.list__content__style {
			&::before {
				content: "\e90e";
				position: absolute;
				left: 16px;
				top: 0;
				display: flex;
				align-items: center;
				height: 100%;
				font-family: 'icomoon' !important;
				font-size: 20px;
				color: rgba(142,142,142,1);
			}
		}
	}
	//電話集荷未返答時に使用するclass
	&--inform {
		.list__content__style {
			&::before {
				content: "\e90e";
				position: absolute;
				left: 16px;
				top: 0;
				display: flex;
				align-items: center;
				height: 100%;
				font-family: 'icomoon' !important;
				font-size: 20px;
				color: rgba(255,0,0,1);
			}
		}
	}
	//途中引渡し時に使用するclass
	&--delivery {
		.list__content__style {
			&::before {
				content: "\e902";
				position: absolute;
				left: 16px;
				top: 0;
				display: flex;
				align-items: center;
				height: 100%;
				font-family: 'icomoon' !important;
				font-size: 22px;
				color: rgba(0,122,255,1);
			}
		}
	}
	//集荷完了時に使用するclass
	&--done {
		.list__content__style {
			&::before {
				content: "\e909";
				position: absolute;
				left: 16px;
				top: 0;
				display: flex;
				align-items: center;
				height: 100%;
				font-family: 'icomoon' !important;
				font-size: 18px;
				color: rgba(75,217,100,1);
			}
			.timeControl {
				.timeControl--plan { display: none; }
				.timeControl--prediction { display: none; }
				.timeControl--done { display: block !important; }
			}
		}
	}
	}
&--visit {
	.list__content {
		.list__content__style {
			.timeControl {
				.timeControl--prediction { display: none; }
			}
		}
	}
}//list--clinic-visit（END
}//list--clinic（END
}//list（END


//プルダウンメニュー共通
.dropdown {
	position: relative;
	width: 100%;
	height: 100%;
	&::after {
		content: "\e905";
		position: absolute;
		right: 0;
		top: 0;
		display: flex;
		align-items: center;
		height: 100%;
		font-family: 'icomoon' !important;
		color: rgba(142,142,142,1);
	}
	.list__content__style {
		position: absolute;
		left: 0;
		top: 0;
		height: 60px;
		padding-right: 30px;
		box-sizing: border-box;
		z-index: 1;
	}
	.dropdown__select {
		position: relative;
		z-index: 2;
		display: block;
		cursor: pointer;
		margin-left: -16px;
		width: calc(100% + 32px);
		height: 100%;
		border: none;
		appearance: none;
		opacity: 0;
	}
	&-default { color: rgba(102,102,102,1); }
}

//dtの文字量に応じて右の入力項目などを回り込ませたい、もしくは重ならないようにする場合
.inputtext--wraparound {
	&.text1 {
		.inputtext {padding-left: 3em;}
	}
	&.text2 {
		.inputtext {padding-left: 4em;}
	}
	&.text3 {
		.inputtext {padding-left: 5em;}
	}
	&.text4 {
		.inputtext {padding-left: 6em;}
	}
	&.text5 {
		.inputtext {padding-left: 7em;}
	}
	&.text6 {
		.inputtext {padding-left: 8em;}
	}
	&.text7 {
		.inputtext {padding-left: 9em;}
	}
	&.text8 {
		.inputtext {padding-left: 10em;}
	}
	&.text9 {
		.inputtext {padding-left: 11em;}
	}
	&.text10 {
		.inputtext {padding-left: 12em;}
	}
}


//トグルスイッチ共通
.toggleSwitch {
	.toggleSwitch__label {
		position: relative;
		display: inline-block;
		width: 50px;
		.toggleSwitch__input { display: none; }
		//スイッチ土台
		.toggleSwitch__base {
			position: relative;
			display: block;
			height: 31px;
			cursor: pointer;
			border-radius: 31px;
			overflow: hidden;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				display: block;
				width: calc(100% - 3px);
				height: calc(100% - 3px);
				border: solid 1.5px rgba(209,209,209,1);
				border-radius: 31px;
				background-color: rgba(255,255,255,1);
			}
			//緑の初期値
			&::after {
				content: "";
				position: absolute;
				top: 0%;
				left: -35%;
				z-index: 2;
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 31px;
				background-color: transparent;
				transition: all 0.5s;
			}
		}
		//緑の広がり
		.toggleSwitch__input:checked ~ .toggleSwitch__base:after {
			background-color: rgba(75,217,100,1);
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		//スイッチ丸部分
		.toggleSwitch__circle {
			position: absolute;
			top: 2px;
			left: 2px;
			z-index: 3;
			display: block;
			width: 27px;
			height: 27px;
			box-shadow: 0 2px 6px rgba(153,153,153,1);
			border-radius: 50%;
			background-color: rgba(255,255,255,1);
			transition: all 0.5s;
		}
		.toggleSwitch__input:checked ~ .toggleSwitch__circle {
			left: 21px;
		}
	}
}


//モーダルラボリストが多くてスクロールになる場合に、背景のコンテンツをスクロールさせない。
.lockWrap {
	overflow: auto;
	height: 100vh;
}
.lock {
	overflow: hidden;
//	position: fixed;
}

// ダイアログ
#labArea {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 120;
	height: 100%;
	width: 100%;
	padding-top: 65px;
	padding-right: 16px;
	padding-bottom: 16px;
	box-sizing: border-box;
	transition: opacity 0.5s, display 0s ease 0.5s;
	opacity: 0;
	display: none;
	//visibility: hidden;
	&.show {
		transition-delay: 0s;
		opacity: 1;
		//visibility: visible;
		display: table;
	}
}

#labArea__wrapper {
//	display: flex;
//	flex-wrap: wrap;
//	align-content: center;
//	list-style-type: none;
//	margin-top: 65px;
//	padding-right: 16px;
//	padding-bottom: 16px;
	display: table-cell;
	vertical-align: middle;
	.labArea__wrapper__list {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		background-color: rgba(255,255,255,0.75);
		border-radius: 6px;
		box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.5);
//		width: 40%;
		width: calc(50% - 16px);
		height: 150px;
		float: left;
		margin-bottom: 16px;
		margin-left: 16px;
		color: rgba(153,153,153,1);
		&.selected {
			background-color: #ffffff;
			color: rgba(0,0,0,1);
		}
		&.active {
			background-color: #ffffff;
			color: rgba(0,0,0,1);
			.toggleSwitch { display: none;}
		}
		.temperatureIcon {
			position: absolute;
			top: 6px;
			text-align: center;
			height: 34px;
			box-sizing: border-box;
			font-size: 22px
		}
		.labNameWrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 59px;
			width: 100%;
			padding: 10px 10px;
			text-align: center;
			overflow: hidden;
			line-height: 1.5;
			.labNameWrapper__content {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 3;
				overflow: hidden;
				width: 80%;
			}
		}
		.toggleSwitch {
			position: absolute;
			left: 6px;
			bottom: 2px
		}
	}
}

//黒背景
.dialog__bg {
	position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
	transition: opacity 0.5s, visibility 0s ease 0.5s, background 0s;
	opacity: 0;
	visibility: hidden;
	&.show {
		transition-delay: 0s;
		opacity: 1;
		visibility: visible;
	}
	&.lab__bg {
		background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.3) 44px,rgba(0,0,0,0.5) 64px,rgba(0,0,0,0.5) 100%);
	}
}

.closeBtn {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 64px;
	background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0px,rgba(0,0,0,0.3) 44px,rgba(0,0,0,0) 100%);
	span {
		position: relative;
		font-family: 'icomoon' !important;
		font-size: 20px;
		&::before {
			color: #ffffff;
		}
	}
	.closeCircle {
		position: absolute;
		width: 30px;
		height: 30px;
		border-radius: 30px;
		border: solid 2px #ffffff;
	}
}

.dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 110;
	width: 70%;
	max-width: 310px;
	min-width: 260px;
	border-radius: 14px;
	background-color: rgba(248,248,248,1);
	text-align: center;
	transition: opacity 0.5s, visibility 0s ease 0.5s;
	opacity: 0;
	visibility: hidden;
	&.show {
		transition-delay: 0s;
		opacity: 1;
		visibility: visible;
	}
	.dialog__contents {
		display: flex;
		justify-content: center;
		min-height: 97px;
		flex-direction: column;
		padding: 10px 0;
		& > h4 {
			margin: 8px 16px
		}
		& > p {
			font-size: 1.4rem;
			line-height: 1.4;
			margin: 8px 16px
		}
		// &input[type="text"] {
		// 	margin-bottom: 8px;
		// 	text-align: center
		// }
		.dialog__contents__item {
			margin-bottom: 5px;
			& > span::after {
				content: '+';
				padding-right: 30px;
				padding-left: 30px
			}
			& > input[type="text"] {
				width: 90px;
				height: 30px;
				text-align: center
			}
		}
		// 病院別セット詳細用スタイル
		&.clinicList {
			padding-bottom: 0px;
			.clinicList__name {
				font-size: 14px
			}
			.clinicList__value {
				font-size: 15px;
				color: rgba(102,102,102,1);
			}
		}
	}
	.dialog__buttonStyle {
		display: flex;
		text-align: center;
		height: 44px;
		border-top: solid 1px rgba(200,200,200,1);
		border-bottom-left-radius: 14px;
		border-bottom-right-radius: 14px;
		overflow: hidden;
		&.buttonStyle--single {
			justify-content: center;
			align-items: center;
			& > * {
				width: 100%;
				height: 100%;
				line-height: 44px
			}
			&.clinicButton {
				border-top: initial
			}
		}
		&.buttonStyle--double {
			div:first-child {
				border-right: solid 1px rgba(200,200,200,1);
			}
			& > * {
				width: 50%;
				height: 100%;
				line-height: 44px
			}
		}
		& > * {
			color: $subColor
		}
	}
}


//タブコントロール
//切替え先の箱は#tab1-contents（#tab2-contents）のarticleを用意する。
//※inputのtab1（tab2）と切替え先の#tab1-contents（#tab2-contents）は兄弟要素の関係であること。
input.tab-radio[type="radio"] {display:none;}
	//タブ選択時スタイル制御
	#tab1:checked ~ .tabSet .tab1_select,
	#tab2:checked ~ .tabSet .tab2_select {
		background-color: #ECEFF4;
		border-color: #ECEFF4;
		color: #000000;
		&::after,
		&::before {
			content: "";
			background-color: #ECEFF4;
			border-color: #ECEFF4;
		}
	}
	//タブ表示制御
	article#tab1-contents, article#tab2-contents {display:none;}
	#tab1:checked ~ article#tab1-contents {display:block;}
	#tab2:checked ~ article#tab2-contents {display:block;}

//タブスタイル
.tabSet {
	position: relative;
	height: 44px;
	background-color: #ffffff;
	.tabSet__Wrap {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 5;
		display: flex;
		width: 100%;
		height: 36px;
		.tab {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 2.5%;
			width: 45%;
			height: 35px;
			border-top: solid 1px rgba(180,183,183,1);
			border-radius: 5px 5px 0 0;
			font-size: 15px;
			background-color: #ffffff;
			color: $subColor;
			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: -6px;
				z-index: -1;
				display: block;
				width: 10px;
				height: 37px;
				border-left: solid 1px #b4b7b7;
				border-top: solid 1px #b4b7b7;
				border-radius: 5px 5px 0 0;
				transform: rotate(15deg);
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: -6px;
				z-index: -1;
				display: block;
				width: 10px;
				height: 37px;
				border-right: solid 1px #b4b7b7;
				border-top: solid 1px #b4b7b7;
				border-radius: 0 5px 0 5px;
				transform: rotate(-15deg);
			}
		}
	}
}

// リスト追加アイコン
.plusSymbol {
	position: relative;
	width: 22px;
	height: 22px;
	background-color: #4CD964;
	border-radius: 50%;
	margin-right: 0.4em;
	&::before, &::after  {
		content: "";
		position: absolute;
		display: inline-block;
		width: 60%;
		height: 2px;
		background-color: #ffffff;
	}
	&::after {
		left: 50%;
		margin-left: -30%;
		top: 50%;
		margin-top: -1px;
	}
	&::before {
		left: 50%;
		margin-left: -30%;
		top: 50%;
		margin-top: -1px;
		transform: rotate(90deg);
	}
	 + span {
		display: inline-block;
		color: $subColor
	}
}

// 温度入力
.tempContentWrapperWrap {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

//温度入力部分（検体入力共有
.tempContentWrapper {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	>li {
		width: calc(100% / 3);
		margin-right: 8px;
		&:last-child { margin-right: 0; }
	}
	.tempContent {
		width: 100vw;
		padding: 0 16px;
		box-sizing: border-box;
	}
}
.tempBoxWrapper {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-top: 16px;
	margin-right: auto;
	margin-left: auto;
	max-width: 600px;
	>li {
		width: calc(100% / 3);
		margin-right: 8px;
		&:last-child { margin-right: 0; }
	}
	.tempBoxOpt {
		&--room {
			color: #ffffff;
			background-color: $roomColor;
			&--off {
				color: #ffffff;
				background-color: $roomColor;
				opacity: 0.5;
			}
		}
		&--cool {
			color: #ffffff;
			background-color: $coolColor;
			&--off {
				color: #ffffff;
				background-color: $coolColor;
				opacity: 0.5;
			}
		}
		&--freeze {
			color: #ffffff;
			background-color: $freezeColor;
			&--off {
				color: #ffffff;
				background-color: $freezeColor;
				opacity: 0.5;
			}
		}
	}
}
.tempBox {
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 6px;
	.tempTitle {
		font-size: 17px;
	}
	.tempRange {
		margin-top: 5px;
		font-size: 12px;
	}
}
.tempListTitle {
	position: relative;
	width: 100%;
	margin-top: 12px;
	margin-bottom: 8px;
	color: rgba(109,109,109,1);
	margin-right: auto;
	margin-left: auto;
	max-width: 600px;
	&--off {
		margin-top: 12px;
		margin-bottom: 8px;
		color: rgba(109,109,109,0.5);
	}
	.notes {
		position: absolute;
		bottom: -3px;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
		border: solid 1px $subColor;
		border-radius: 50%;
		box-sizing: border-box;
		&::before {
			content: "i";
			color: $subColor;
			font-family: serif;
			font-weight: bold;
		}
	}
}
.tempValue {
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin-right: auto;
	margin-left: auto;
	max-width: 600px;
	>li {
		width: calc(100% / 3);
		height: 42px;
		margin-right: 8px;
		background-color: rgba(255,255,255,1);
		&:last-child { margin-right: 0; }
	}
	// 入力ずみプレースホルダー非活性スタイル
	&.inputComplete {
		> li {
			background-color: rgba(245,247,247,1);
			input[type="text"] {
				color: rgba(109,109,109,0.5);
			}
		}
	}
	&--room {
		border-bottom: solid 2px $roomColor;
	}
	&--cool {
		border-bottom: solid 2px $coolColor;
	}
	&--freeze {
		border-bottom: solid 2px $freezeColor;
	}
	// プレースホルダースタイル
	input[type="text"] {
		width: 100%;
		height: 42px;
		text-align: center;
		border: 0;
		background-color: transparent;
	}
	// トグルオフ時のtempBoxスタイル（室温）
	&.roomTempOff {
		li:first-child {
			background-color: rgba(245,247,247,1);
			border-bottom: solid 2px rgba(222,112,64,0.5);
		}
		li:first-child input[type="text"] {
			display: none;
		}
	}

	// トグルオフ時のtempBoxスタイル（冷蔵）
	&.coolTempOff {
		li:nth-child(2) {
			background-color: rgba(245,247,247,1);
			border-bottom: solid 2px rgba(63,116,180,0.5);
		}
		li:nth-child(2) input[type="text"] {
			display: none;
		}
	}

	// トグルオフ時のtempBoxスタイル（凍結）
	&.freezeTempOff {
		li:nth-child(3) {
			background-color: rgba(245,247,247,1);
			border-bottom: rgba(103,78,192,0.5);
		}
		li:nth-child(3) input[type="text"] {
			display: none;
		}

	}
	//検体入力の非活性スタイル
	.tempValue--disabled {
		opacity: 0.5;
		height: 42px;
		background-color: rgba(255,255,255,0.5);
		> input[type="text"] {
			 display: none;
		}
	}
}
