//Menuコントロール
.sideMenu {
    position: fixed;
	top: 0;
    left: -100vw;
	z-index: 120;
}
.triggerCheck {
	left: 0;
//	transform: translate(calc(100vw - 340px + 340px));
	transition-duration: 0.5s;
}
.triggerNoCheck {
//	transform: translate(- calc(100vw - 340px + 340px));
	transition-duration: 0.5s;
}


//Menuスタイル
.sideNav {
    position: absolute;
    width: 340px;
    height: 100vh;
	padding-bottom: 30px;
	box-sizing: border-box;
    background-color: #ECEFF4;
    .menuHeader {
        position: relative;
        width: 340px;
        height: 64px;
        background-color: #F18C02;
            .menuHeader__wrapper {
                position: absolute;
                display: flex;
                justify-content: center;
                bottom: 12px;
                left: 0;
                width: 100%;
                .menuHeader__wrapper__close {
                    position: absolute;
                    left: 16px;
					&::before {
						content: '\e91c';
						font-size: 18px;
						color: #FFFFFF;
						font-family: 'icomoon' !important;
					}
                }
                .menuHeader__wrapper__title {
                    display: inline-block;
                    color: #ffffff;
                    font-size: 16px;
                }
            }
    }
    .navContents {
		//総検体数表示
		.list__temp {
			.list__content {
				// リスト内に温度を表示する際の例外
				height: 96px;
				.temp {
					display: flex;
					flex-direction: column;
					width: 97px;
					height: 72px;
					color: #ffffff;
					&--room { background-color: #DE7040; }
					&--cool { background-color: #3F74B4; }
					&--freeze { background-color: #674EC0; }
				}
				.listContentTemp__contentName {
					width: 100%;
					text-align: center;
					padding-top: 8px;
				}
				.listContentTemp__contentValue {
					width: 100%;
					text-align: center;
					font-size: 22px;
					padding-top: 7px;
				}
			}
		}//list__temp
		.list__indent {
			.list__content {
				padding-left: calc(16px + 40px);
				// 受領検体数 再確認
				.list__content__sampleNum::before {
					content: '\e901';
					position: absolute;
					left: 16px;
					top: 0;
					display: flex;
					align-items: center;
					height: 100%;
					font-size: 28px;
					font-family: 'icomoon' !important;
					color: #F18C02;
				}
				// 営業拠点に連絡
				.list__content__baseContact::before {
					content: '\e910';
					position: absolute;
					left: 16px;
					top: 0;
					display: flex;
					align-items: center;
					height: 100%;
					font-size: 28px;
					font-family: 'icomoon' !important;
					color: #F18C02;
				}
				// 給油情報登録
				.list__content__registRefuel::before {
					content: '\e904';
					position: absolute;
					left: 16px;
					top: 0;
					display: flex;
					align-items: center;
					height: 100%;
					font-size: 28px;
					font-family: 'icomoon' !important;
					color: #F18C02;
				}
				// 病院検索
				.list__content__searchClinic::before {
					content: '\e915';
					position: absolute;
					left: 16px;
					top: 0;
					display: flex;
					align-items: center;
					height: 100%;
					font-size: 28px;
					font-family: 'icomoon' !important;
					color: #F18C02;
				}
				// 業務中断
				.list__content__stopWork::before {
					content: '\e916';
					position: absolute;
					left: 16px;
					top: 0;
					display: flex;
					align-items: center;
					height: 100%;
					font-size: 28px;
					font-family: 'icomoon' !important;
					color: #F18C02;
				}
			}
		}
        .list__content__space {
            margin-top: 10px;
        }
    }
	.list .list__content {
		a::after {color: #ffffff;}
	}
	.versionNo {
		position: absolute;
		bottom: 10px;
		right: 16px;
		font-size: 12px;
		color: #666666;
		&::before {
			content: "Ver.";
			margin-right: 0.2em;
		}
	}
}