@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2yi303');
  src:  url('fonts/icomoon.eot?2yi303#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2yi303') format('truetype'),
    url('fonts/icomoon.woff?2yi303') format('woff'),
    url('fonts/icomoon.svg?2yi303#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e91c";
  color: #8e8e93;
}
.icon-temp_on:before {
  content: "\e91a";
  color: #8c8c8c;
}
.icon-menu:before {
  content: "\e91b";
  color: #8e8e93;
}
.icon-change:before {
  content: "\e900";
  color: #8c8c8c;
}
.icon-circle-check:before {
  content: "\e901";
  color: #8c8c8c;
}
.icon-delivery:before {
  content: "\e902";
  color: #8e8e93;
}
.icon-digital:before {
  content: "\e903";
  color: #8c8c8c;
}
.icon-fuel:before {
  content: "\e904";
  color: #8c8c8c;
}
.icon-arrow_down:before {
  content: "\e905";
  color: #8e8e93;
}
.icon-arrow_left:before {
  content: "\e906";
  color: #8e8e93;
}
.icon-arrow_right:before {
  content: "\e907";
  color: #8e8e93;
}
.icon-arrow_up:before {
  content: "\e908";
  color: #8e8e93;
}
.icon-check:before {
  content: "\e909";
  color: #8c8c8c;
}
.icon-man:before {
  content: "\e90a";
  color: #8e8e93;
}
.icon-map:before {
  content: "\e90b";
  color: #8c8c8c;
}
.icon-note:before {
  content: "\e90c";
  color: #8c8c8c;
}
.icon-notice:before {
  content: "\e90d";
  color: #8e8e93;
}
.icon-phone:before {
  content: "\e90e";
  color: #8e8e93;
}
.icon-phone_no:before {
  content: "\e90f";
  color: #8c8c8c;
}
.icon-phone_of:before {
  content: "\e910";
  color: #8c8c8c;
}
.icon-photo:before {
  content: "\e911";
  color: #8e8e93;
}
.icon-place:before {
  content: "\e912";
  color: #8e8e93;
}
.icon-report:before {
  content: "\e913";
  color: #8e8e93;
}
.icon-sample:before {
  content: "\e914";
  color: #8c8c8c;
}
.icon-serch:before {
  content: "\e915";
  color: #8c8c8c;
}
.icon-stop:before {
  content: "\e916";
  color: #8c8c8c;
}
.icon-takeover:before {
  content: "\e917";
  color: #8e8e93;
}
.icon-temp:before {
  content: "\e918";
  color: #8c8c8c;
}
.icon-trash:before {
  content: "\e919";
  color: #8e8e93;
}
